#workingChain {
  text: "inner";
}
#faultyChain {
  text: "ccc";
  text2: "ccc ccc";
}
#trick {
  text: "ccc";
}
#variousQuoting {
  text1: "outer";
  text2: 'outer';
}
#malformed {
  text1: "@ {variable}";
  text2: "@{ variable}";
  text3: "@{variable }";
  text4: "@\{variable}";
  text5: "@/{variable}";
  text6: "@{variable";
}
#multiple {
  text1: "outer outer outer";
  text2: "prefix outer after first outer after second outer suffix";
}
#nonString {
  plus: "15";
  sum: "15";
  named: "#008000";
  color: "#114488";
  rgbaColor: "rgba(102, 175, 233, 0.6)";
  units: "10%";
}
#useUnderdefinedMixin {
  text: 'Hi DoNotForget :-)';
}
#reiteration div.small {
  width: 100px;
  weird: 100px;
}