@b: 24px;
@c: #888999;

@fonts: "Trebuchet MS", Verdana, sans-serif;
@f: @fonts;

@quotes: "~" "~";
@singleQuotes: '~' '~';
@q: @quotes;
.variables {
  height: @b;
  color: @c;
  font-family: @f;
  quotes: @q;
  singleQuotes: @singleQuotes;
}