//taken from less.js 1.7.0 - modified by removing namespace which is not supported yet
@Eight: 8;
@charset "UTF-@{Eight}";

//@ns: less;
//@namespace @ns "http://lesscss.org";

@name: enlarger;
@keyframes @name {
    from {font-size: 12px;}
    to   {font-size: 15px;}
}

.m(reducer);
.m(@name) {
    @-webkit-keyframes @name {
        from {font-size: 13px;}
        to   {font-size: 10px;}
    }
}
