@a: 2;
@x: 4;
@y: 5;
@z: 14cm;

.variables {
  width: @z;
}

@b: 20;
@c: #888888;

@fonts: "Trebuchet MS", Verdana, sans-serif;
@f: @fonts;

@quotes: "~" "~";
@q: @quotes;

.variables {
  height: 24px;
  color: @c;
  font-family: @f;
  quotes: @q;
}

.redefinition {
    @var: 4;
    @var: 2;
    @var: 3;
    three: @var;
}

.values {
    @a: 'Trebuchet';
    @multi: 'A', B, C;
    font-family: @a, @a, @a;
    color: @c !important;
    url: url(@a);
    multi: something @multi, @a;
}

.variable-names {
    @var: 'hello';
    @name: 'var';
    name: @@name;
}
.alpha {
    @var: 42;
    filter: alpha(opacity=@var);
}

a:nth-child(@a) {
    border: 1px;
}
