.noncolor {
  normal: red !noncolor;
  important: red !noncolor !important;
}
.impblah {
  normal: red !importantblaaah;
  important: red !importantblaaah !important;
}
.important {
  normal: red !important;
  important: red !important;
}
.mixin-reference-important {
  normal: value !important;
  important: value !important;
  variable-normal: value !important;
  variable-important: value ! important;
}
