a:first b:second c:third d:fourth {
  property: value;
}

beginningShort1:extend(a all) {}
beginningShort2:extend(a:first all) {}
beginningNormal1:extend(a:first b all) {}
beginningNormal2:extend(a:first b:second all) {}
beginningLong1:extend(a:first b:second c all) {}
beginningLong2:extend(a:first b:second c:third all) {}

whole:extend(a:first b:second c:third d:fourth all) {}

aa:first bb:second cc:third dd:fourth {
  property: value;
}

endingShort1:extend(:fourth all) {}
endingShort2:extend(dd:fourth all) {}
endingNormal1:extend(:third dd:fourth all) {}
endingNormal2:extend(cc:third dd:fourth all) {}
endingLong1:extend(:second cc:third dd:fourth all) {}
endingLong2:extend(bb:second cc:third dd:fourth all) {}

aaa:first bbb:second ccc:third ddd:fourth {
  property: value;
}

middleShort1:extend(bbb all) {}
middleShort2:extend(:second all) {}
middleShort3:extend(bbb:second all) {}
middleNormal1:extend(:second ccc all) {}
middleNormal2:extend(bbb:second ccc all) {}
middleLong1:extend(:second ccc:third all) {}
middleLong2:extend(bbb:second ccc:third all) {}
