.eval {
  js: `42`;
  js: `1 + 1`;
  js: `"hello world"`;
  js: `[1, 2, 3]`;
  title: `typeof process.title`;
  ternary: `(1 + 1 == 2 ? true : false)`;
  multiline: `(function(){var x = 1 + 1;
           return x})()`;
}
.scope {
  var: `parseInt(this.foo.toJS())`;
  escaped: ~`2 + 5 + 'px'`;
}
.vars {
  width: `4 + 4`;
}
.escape-interpol {
  width: ~`"hello" + " " + world`;
}
.arrays {
  ary: `1, 2, 3.join(', ')`;
  ary1: `1 2 3.join(', ')`;
}
