#call-variableMixin {
  first: 10;
  second: 20;
  third: 30;
  first-in-first: 10;
  second-in-first: 2;
  third-in-first: 3;
  first-in-second: 10;
  second-in-second: 20;
  third-in-second: 3;
  first-in-third: 10;
  second-in-third: 20;
  third-in-third: 30;
}
