@media print {
  font-size: 3em;
}
@media print {
  font-size: 3em;a:hover,
  a:link {
    color: #999;
  }
  :hover,
  :link {
    color: #999;
  }
}
@media screen {
  font-size: 10px;
}
@media screen, print {
  font-size: 10px;
}
@media screen, screen {
  font-size: 10px;
}
