/* 00 */ @media /* 01 */ all /* 02 */ and /* 03 */ (/* 04 */ width /* 05 */: /* 06 */ 1px /* 07 */) /* 08 */ {
  .selector {
    font-size: 3em;
  }
}
/* 10 */ @media /* 11 */ not /* 12 */ all /* 13 */ and /* 14 */ (/* 15 */ width /* 16 */: /* 17 */ 1px /* 18 */) /* 19 */ {
  .selector {
    font-size: 3em;
  }
}
/* 20 */ @media /* 21 */ only /* 22 */ screen /* 23 */ and /* 24 */ (/* 25 */ width /* 26 */: /* 27 */ 1px /* 28 */) /* 29 */, /* 200 */ (/* 201 */ length /* 202 */: /* 203 */ 2px /* 204 */) /* 205 */ {
  .selector {
    font-size: 3em;
  }
}
