/* 1 */ @viewport /* 2 */ { /* 3 */
  /* 4 */ width: device-width /* 5 */;/* 6 */
/* 7 */ } /* 8 */
/* 1 */ @viewport /* 2 */ { /* 3 */
  /* 4 */
/* 5 */ } /* 5 */
/* 1 */ h1 /* 2 */ { /* 3 */
  /* 4 */ size: /* 5 */ 10 /* 6 */;/* 7 */
/* 8 */ } /* 9 */
/* 1 */ h2 /* 2 */ { /* 3 */
  /* 4 */
/* 5 */ } /* 5 */
/* 0 */ @media /* 1 */ screen /* 2 */ { /* 3 */
  /* 4 */ h1 /* 5 */ {
    color: #ff00ff;
  } /* 6 */
  /* 7 */
/* 8 */ } /* 9 */
/* 0 */ @media /* 1 */ screen /* 2 */ { /* 3 */
  /* 4 */
/* 5 */ } /* 6 */
/* 0 */ @keyframes /* 1 */ sunrise /* 2 */ { /* 3 */
  /* 4 */ h1 /* 5 */ {
    color: #ff00ff;
  } /* 6 */
  /* 7 */
/* 8 */ } /* 9 */
/* 0 */ @keyframes /* 1 */ { /* 3 */
  /* 4 */
/* 5 */ } /* 6 */
/* 0 */ @font-face /* 1 */ { /* 2 */
  /* 3 */ font-family: /* 4 */ MyHelvetica /* 5 */;/* 6 */
/* 7 */ } /* 8 */
/* 0 */ @page /* 1 */ { /* 2 */
  /* 3 */
/* 4 */ } /* 5 */
/* 0 */ @page /* 0 */ name /* 0 */ :first /* 0 */ { /* 0 */
  /* 0 */ margin: /* 0 */ 2 /* 0 */;/* 0 */
/* 0 */ } /* 0 */
/* 0 */ @page /* 0 */ { /* 0 */
  /* 0 */ @bottom-center /* 0 */ { /* 0 */
    /* 0 */ margin-left: /* 0 */ 3cm /* 0 */;/* 0 */
    /* 0 */ margin-right: /* 0 */ bla /* 0 */;/* 0 */
  /* 0 */ } /* 0 */
/* 0 */ } /* 0 */
/* 0 */ @document /* 1 */ url-prefix(comp.something) /* bc */, /* ac */ domain("somewhere") /* 2 */ { /* 3 */
  /* 4 */ h1 /* 5 */ {
    color: #ff00ff;
  } /* 6 */
  /* 7 */
/* 8 */ } /* 9 */
/* 0 */ @document /* 1 */ url-prefix() /* 2 */ { /* 3 */
  /* 4 */
/* 5 */ } /* 6 */
/* 1 */ @supports /* 2 */ (/* 3 */ transform-origin: 5% 5% /* 4 */ ) /* 5 */ { /* 6 */
  /* 7 */ .1 /* 8 */ { /* 9 */
    transform-origin: 5% 5%;
  /* 10 */ } /* 11 */
/* 12 */ } /* 13 */
/* 1 */ @supports /* 2 */ not /* 3 */ (/* 4 */ transform-origin: 10em 10em 10em /* 5 */ ) /* 6 */ { /* 7 */
  /* body */
/* 8 */ } /* 9 */
/* 1 */ @supports /* 2 */ (/* 3 */ display: flexbox /* 4 */ ) /* 5 */ and /* 6 */ (/* 7 */ not /* 8 */ (/* 9 */ display: inline-grid /* 10 */ ) /* 11 */ ) /* 12 */ { /* 13 */
  /* body begin */
  .2 {
    transform-origin: 2px;
  }
/* 14 */ } /* 15 */
