colors {
color: #003322;
color: AliceBlue;
color: AntiqueWhite;
color: Aqua;
color: Aquamarine;
color: Azure;	
color: Beige;	
color: Bisque;	
color: Black;	
color: BlanchedAlmond;	
color: Blue;	
color: BlueViolet;	
color: Brown;	
color: BurlyWood;	
color: CadetBlue;	
color: Chartreuse;	
color: Chocolate;	
color: Coral;	
color: CornflowerBlue;	
color: Cornsilk;	
color: Crimson;	
color: Cyan;	
color: DarkBlue;	
color: DarkCyan;	
color: DarkGoldenRod;	
color: DarkGray;	
color: DarkGrey;	
color: DarkGreen;	
color: DarkKhaki;	
color: DarkMagenta;	
color: DarkOliveGreen;	
color: Darkorange;	
color: DarkOrchid;	
color: DarkRed;	
color: DarkSalmon;	
color: DarkSeaGreen;	
color: DarkSlateBlue;	
color: DarkSlateGray;	
color: DarkSlateGrey;	
color: DarkTurquoise;	
color: DarkViolet;	
color: DeepPink;	
color: DeepSkyBlue;	
color: DimGray;	
color: DimGrey;	
color: DodgerBlue;	
color: FireBrick;	
color: FloralWhite;	
color: ForestGreen;	
color: Fuchsia;	
color: Gainsboro;	
color: GhostWhite;	
color: Gold;	
color: GoldenRod;	
color: Gray;	
color: Grey;	
color: Green;	
color: GreenYellow;	
color: HoneyDew;	
color: HotPink;	
color: IndianRed; 	
color: Indigo; 	
color: Ivory;	
color: Khaki;	
color: Lavender;	
color: LavenderBlush;	
color: LawnGreen;	
color: LemonChiffon;	
color: LightBlue;	
color: LightCoral;	
color: LightCyan;	
color: LightGoldenRodYellow;	
color: LightGray;	
color: LightGrey;	
color: LightGreen;	
color: LightPink;	
color: LightSalmon;	
color: LightSeaGreen;	
color: LightSkyBlue;	
color: LightSlateGray;	
color: LightSlateGrey;	
color: LightSteelBlue;	
color: LightYellow;	
color: Lime;	
color: LimeGreen;	
color: Linen;	
color: Magenta;	
color: Maroon;	
color: MediumAquaMarine;	
color: MediumBlue;	
color: MediumOrchid;	
color: MediumPurple;	
color: MediumSeaGreen;	
color: MediumSlateBlue;	
color: MediumSpringGreen;	
color: MediumTurquoise;	
color: MediumVioletRed;	
color: MidnightBlue;	
color: MintCream;	
color: MistyRose;	
color: Moccasin;	
color: NavajoWhite;	
color: Navy;	
color: OldLace;	
color: Olive;	
color: OliveDrab;	
color: Orange;	
color: OrangeRed;	
color: Orchid;	
color: PaleGoldenRod;	
color: PaleGreen;	
color: PaleTurquoise;	
color: PaleVioletRed;	
color: PapayaWhip;	
color: PeachPuff;	
color: Peru;	
color: Pink;	
color: Plum;	
color: PowderBlue;	
color: Purple;	
color: Red;	
color: RosyBrown;	
color: RoyalBlue;	
color: SaddleBrown;	
color: Salmon;	
color: SandyBrown;	
color: SeaGreen;	
color: SeaShell;	
color: Sienna;	
color: Silver;	
color: SkyBlue;	
color: SlateBlue;	
color: SlateGray;	
color: SlateGrey;	
color: Snow;	
color: SpringGreen;	
color: SteelBlue;	
color: Tan;	
color: Teal;	
color: Thistle;	
color: Tomato;	
color: Turquoise;	
color: Violet;	
color: Wheat;	
color: White;	
color: WhiteSmoke;	
color: Yellow;	
color: YellowGreen;
}


