@keyframes sunrise {
  0% {
    bottom: 0;
    left: 340px;
    background: #f00;
  }
  33% {
    bottom: 340px;
    left: 340px;
    background: #ffd630;
  }
  66% {
    bottom: 340px;
    left: 40px;
    background: #ffd630;
  }
  100% {
    bottom: 0;
    left: 40px;
    background: #f00;
  }
}
@-o-keyframes name1, name2, name3 {
  from {
    left: 10px;
  }
  to {
    left: 20px;
  }
}
@-moz-keyframes {
  from {
    left: 100px;
  }
  to {
    left: 200px;
  }
}
