@viewport {
  width: 397px;
}
@media screen and (width: 397px) {
  font-size: 3em;
  font-size: 5em;h1 {
    color: blue;
  }
  @viewport {
    width: 500px;
  }
  div {
    color: green;
  }
}
@media screen and (width: 398px) {
  div {
    color: green;
  }
}
@media screen and (width: 399px) {
  @viewport {
    width: 500px;
  }
}
