#hexColorVsFloat {
  color1: #112233 + 0.5;
  color2: 0.5 + #112233;
  color3: #222222 - 4;
  color4: #112233 * 4;
  color5: 0.5 * #112233;
  color6: #112233 / 0.5;
}

#hexColorVsNumber {
  color1: #112233 + 4;
  color2: 4 + #112233;
  color3: #222222 - 4;
  //color: 4 - #11223344; Can't substract or divide a color from a number
  color4: #112233 * 4;
  color5: 4 * #112233;
  color6: #112233 / 4;
  //color: 4 / #11223344; Can't substract or divide a color from a number
}

#hexColorVsNumberTooBig {
  color1: #fffefd + 4;
  color2: 4 + #fffefd;
  color3: #010203 - 4;
  color4: #99fafb * 4;
  color5: 4 * #99fafb;
  color6: #010203 / 4;
}

#hexColorVsNegativeNumber {
  color1: #112233 + -4;
  color2: -4 + #112233;
  color3: #222222 - -4;
  color4: #112233 * -4;
  color5: 4 * #112233;
  color6: #112233 / -4;
}

#hexColorVsNegativeNumberTooBig {
  color1: #fffefd + -4;
  color2: -4 + #fffefd;
  color3: #010203 - -4;
  color4: #99fafb * -4;
  color5: -4 * #99fafb;
  color6: #010203 / -4;
}
#hexColorVsHexColor {
  color1: #112233 + #121314;
  color2: #121314 + #112233;
  color3: #223344 - #101112;
  color4: #112233 * #010203;
  color5: #010203 * #112233;
  color6: #112233 / #010203;
}

#hexColorVsHexColorTooBig {
  color1: #112233 + #fffefd;
  color2: #fffefd + #112233;
  color3: #223344 - #fffefd;
  color4: #112233 * #fffefd;
  color5: #fffefd * #112233;
  color6: #112233 / #fffefd;
}

//these two are incompatible with less-1.3.0, it has a bug
#namedColorVsNumber {
  color1: #112233 + lightsteelblue;
  color2: lightsteelblue + #112233;
  color3: #fefafb - lightsteelblue;
  color4: #010203 * dimgray;
  color5: dimgray * #010203;
  color6: #fefafb / dimgray;
}

#namedColorVsNamedColor {
  color1: red + green;
  color2: aliceblue - chocolate;
  color3: aliceblue * powderblue;
  color4: aliceblue / chocolate;
}

#hashDecoding {
  color1: #112233 + #222; 
  color2: #112233 + #020202; 
  color3: #112233 + #222222; 
}

#divisionByZero {
  color1: #112233 / black; 
  color2: #112233 / #000000; 
  color3: #112233 / 0; 
}
