/* expression width: -1px should not be parseable */
@media all and (width: -1px) {
  font-size: 3em;
}
/* expression min-width: -1px should not be parseable */
@media all and (min-width: -1px) {
  font-size: 3em;
}
/* expression max-width: -1px should not be parseable */
@media all and (max-width: -1px) {
  font-size: 3em;
}
/* expression width: -0.00001mm should not be parseable */
@media all and (width: -0.00001mm) {
  font-size: 3em;
}
/* expression width: -100000em should not be parseable */
@media all and (width: -100000em) {
  font-size: 3em;
}
/* expression min-width should not be parseable */
@media all and (min-width) {
  font-size: 3em;
}
/* expression max-width should not be parseable */
@media all and (max-width) {
  font-size: 3em;
}
/* expression height: -1px should not be parseable */
@media all and (height: -1px) {
  font-size: 3em;
}
/* expression min-height: -1px should not be parseable */
@media all and (min-height: -1px) {
  font-size: 3em;
}
/* expression max-height: -1px should not be parseable */
@media all and (max-height: -1px) {
  font-size: 3em;
}
/* expression height: -0.00001mm should not be parseable */
@media all and (height: -0.00001mm) {
  font-size: 3em;
}
/* expression height: -100000em should not be parseable */
@media all and (height: -100000em) {
  font-size: 3em;
}
/* expression min-height should not be parseable */
@media all and (min-height) {
  font-size: 3em;
}
/* expression max-height should not be parseable */
@media all and (max-height) {
  font-size: 3em;
}
/* expression device-width: -1px should not be parseable */
@media all and (device-width: -1px) {
  font-size: 3em;
}
/* expression min-device-width: -1px should not be parseable */
@media all and (min-device-width: -1px) {
  font-size: 3em;
}
/* expression max-device-width: -1px should not be parseable */
@media all and (max-device-width: -1px) {
  font-size: 3em;
}
/* expression device-width: -0.00001mm should not be parseable */
@media all and (device-width: -0.00001mm) {
  font-size: 3em;
}
/* expression device-width: -100000em should not be parseable */
@media all and (device-width: -100000em) {
  font-size: 3em;
}
/* expression min-device-width should not be parseable */
@media all and (min-device-width) {
  font-size: 3em;
}
/* expression max-device-width should not be parseable */
@media all and (max-device-width) {
  font-size: 3em;
}
/* expression device-height: -1px should not be parseable */
@media all and (device-height: -1px) {
  font-size: 3em;
}
/* expression min-device-height: -1px should not be parseable */
@media all and (min-device-height: -1px) {
  font-size: 3em;
}
/* expression max-device-height: -1px should not be parseable */
@media all and (max-device-height: -1px) {
  font-size: 3em;
}
/* expression device-height: -0.00001mm should not be parseable */
@media all and (device-height: -0.00001mm) {
  font-size: 3em;
}
/* expression device-height: -100000em should not be parseable */
@media all and (device-height: -100000em) {
  font-size: 3em;
}
/* expression min-device-height should not be parseable */
@media all and (min-device-height) {
  font-size: 3em;
}
/* expression max-device-height should not be parseable */
@media all and (max-device-height) {
  font-size: 3em;
}
/* expression min-orientation should not be parseable */
@media all and (min-orientation) {
  font-size: 3em;
}
/* expression min-orientation: portrait should not be parseable */
@media all and (min-orientation: portrait) {
  font-size: 3em;
}
/* expression min-orientation: landscape should not be parseable */
@media all and (min-orientation: landscape) {
  font-size: 3em;
}
/* expression max-orientation should not be parseable */
@media all and (max-orientation) {
  font-size: 3em;
}
/* expression max-orientation: portrait should not be parseable */
@media all and (max-orientation: portrait) {
  font-size: 3em;
}
/* expression max-orientation: landscape should not be parseable */
@media all and (max-orientation: landscape) {
  font-size: 3em;
}
/* expression min-aspect-ratio should not be parseable */
@media all and (min-aspect-ratio) {
  font-size: 3em;
}
/* expression max-aspect-ratio should not be parseable */
@media all and (max-aspect-ratio) {
  font-size: 3em;
}
/* expression min-device-aspect-ratio should not be parseable */
@media all and (min-device-aspect-ratio) {
  font-size: 3em;
}
/* expression max-device-aspect-ratio should not be parseable */
@media all and (max-device-aspect-ratio) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1 should not be parseable */
@media all and (max-aspect-ratio: 1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 0.5 should not be parseable */
@media all and (max-aspect-ratio: 0.5) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1.0/1 should not be parseable */
@media all and (max-aspect-ratio: 1.0/1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1/1.0 should not be parseable */
@media all and (max-aspect-ratio: 1/1.0) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1.0/1.0 should not be parseable */
@media all and (max-aspect-ratio: 1.0/1.0) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 0/1 should not be parseable */
@media all and (max-aspect-ratio: 0/1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1/0 should not be parseable */
@media all and (max-aspect-ratio: 1/0) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 0/0 should not be parseable */
@media all and (max-aspect-ratio: 0/0) {
  font-size: 3em;
}
/* expression max-aspect-ratio: -1/1 should not be parseable */
@media all and (max-aspect-ratio: -1/1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1/-1 should not be parseable */
@media all and (max-aspect-ratio: 1/-1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: -1/-1 should not be parseable */
@media all and (max-aspect-ratio: -1/-1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1 should not be parseable */
@media all and (device-aspect-ratio: 1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 0.5 should not be parseable */
@media all and (device-aspect-ratio: 0.5) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1.0/1 should not be parseable */
@media all and (device-aspect-ratio: 1.0/1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1/1.0 should not be parseable */
@media all and (device-aspect-ratio: 1/1.0) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1.0/1.0 should not be parseable */
@media all and (device-aspect-ratio: 1.0/1.0) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 0/1 should not be parseable */
@media all and (device-aspect-ratio: 0/1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1/0 should not be parseable */
@media all and (device-aspect-ratio: 1/0) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 0/0 should not be parseable */
@media all and (device-aspect-ratio: 0/0) {
  font-size: 3em;
}
/* expression device-aspect-ratio: -1/1 should not be parseable */
@media all and (device-aspect-ratio: -1/1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1/-1 should not be parseable */
@media all and (device-aspect-ratio: 1/-1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: -1/-1 should not be parseable */
@media all and (device-aspect-ratio: -1/-1) {
  font-size: 3em;
}
