something {
  margin: -1- 1- 1- 1;
  margin: -2 -2 -2 -2;
  margin: 2+3+2+2+2;
  margin: 2 + 3 + 2 + 2 + 2;
  margin: -2 - 3 - 2 - 2 - 2;
  /* Try with different properties: */
  margin: -2-3 -2 -2-2;
  something: -2-3 -2 -2-2;
  padding: -2-3 -2 -2-2;
  /* Two operators: */
  margin: -1- -1;
  margin: -1 - -1;
  /* Unary operators: */
  margin: -3;
}

multiply {
  margin: 2*3*1;
  margin: 2 * 3;
  margin: 2* 3;
  margin: 2 *3;
}
