plusConversions {
  conversion1: 3px;
  conversion2: 3px;
  conversion3: 3px;
  conversion4: 3cm;
  conversion5: 3px;
  conversion6: 3%;
  conversion7: 3px;
  conversion8: 3cm;
  conversion9: 3cm;
  conversion10: 3cm;
  conversion11: 3%;
  conversion12: 3cm;
  conversion13: 3%;
  conversion14: 3%;
  conversion15: 3%;
  conversion16: 6cm;
  conversion17: 6px;
  conversion18: 6cm;
  conversion19: 6px;
}
minusConversions {
  conversion1: -1px;
  conversion2: -1px;
  conversion3: -1px;
  conversion4: -1cm;
  conversion5: -1px;
  conversion6: -1%;
  conversion7: -1px;
  conversion8: -1cm;
  conversion9: -1cm;
  conversion10: -1cm;
  conversion11: -1%;
  conversion12: -1cm;
  conversion13: -1%;
  conversion14: -1%;
  conversion15: -1%;
  conversion16: -4cm;
  conversion17: -4px;
  conversion18: 2cm;
  conversion19: 2px;
}
multiplicationConversions {
  conversion1: 2px;
  conversion2: 2px;
  conversion3: 2px;
  conversion4: 2cm;
  conversion5: 2px;
  conversion6: 2%;
  conversion7: 2px;
  conversion8: 2cm;
  conversion9: 2cm;
  conversion10: 2cm;
  conversion11: 2%;
  conversion12: 2cm;
  conversion13: 2%;
  conversion14: 2%;
  conversion15: 2%;
  conversion16: 6cm;
  conversion17: 6px;
  conversion18: 6cm;
  conversion19: 6px;
}
solidusConversions {
  conversion1: 0.5px;
  conversion2: 0.5px;
  conversion3: 0.5px;
  conversion4: 0.5cm;
  conversion5: 0.5px;
  conversion6: 0.5%;
  conversion7: 0.5px;
  conversion8: 0.5cm;
  conversion9: 0.5cm;
  conversion10: 0.5cm;
  conversion11: 0.5%;
  conversion12: 0.5cm;
  conversion13: 0.5%;
  conversion14: 0.5%;
  conversion15: 0.5%;
  conversion16: 0.16666666666666666cm;
  conversion17: 0.16666666666666666px;
  conversion18: 1.5cm;
  conversion19: 1.5px;
}