plusConversions {
  conversion: 1px + 2px;
  conversion: 1 + 2px;
  conversion: 1px + 2;
  conversion: 1cm + 2px;
  conversion: 1px + 2cm;
  conversion: 1% + 2px;
  conversion: 1px + 2%;
  conversion: 1cm + 2cm;
  conversion: 1 + 2cm;
  conversion: 1cm + 2;
  conversion: 1% + 2cm;
  conversion: 1cm + 2%;
  conversion: 1% + 2cm;
  conversion: 1% + 2;
  conversion: 1 + 2%;
  conversion: (1 + 2) + 3cm;
  conversion: (1px + 2) + 3cm;
  conversion: 1 + (2 + 3cm);
  conversion: 1px + (2 + 3cm);
}
minusConversions {
  conversion: 1px - 2px;
  conversion: 1 - 2px;
  conversion: 1px - 2;
  conversion: 1cm - 2px;
  conversion: 1px - 2cm;
  conversion: 1% - 2px;
  conversion: 1px - 2%;
  conversion: 1cm - 2cm;
  conversion: 1 - 2cm;
  conversion: 1cm - 2;
  conversion: 1% - 2cm;
  conversion: 1cm - 2%;
  conversion: 1% - 2cm;
  conversion: 1% - 2;
  conversion: 1 - 2%;
  conversion: (1 - 2) - 3cm;
  conversion: (1px - 2) - 3cm;
  conversion: 1 - (2 - 3cm);
  conversion: 1px - (2 - 3cm);
}
multiplicationConversions {
  conversion: 1px * 2px;
  conversion: 1 * 2px;
  conversion: 1px * 2;
  conversion: 1cm * 2px;
  conversion: 1px * 2cm;
  conversion: 1% * 2px;
  conversion: 1px * 2%;
  conversion: 1cm * 2cm;
  conversion: 1 * 2cm;
  conversion: 1cm * 2;
  conversion: 1% * 2cm;
  conversion: 1cm * 2%;
  conversion: 1% * 2cm;
  conversion: 1% * 2;
  conversion: 1 * 2%;
  conversion: (1 * 2) * 3cm;
  conversion: (1px * 2) * 3cm;
  conversion: 1 * (2 * 3cm);
  conversion: 1px * (2 * 3cm);
}
solidusConversions {
  conversion: 1px / 2px;
  conversion: 1 / 2px;
  conversion: 1px / 2;
  conversion: 1cm / 2px;
  conversion: 1px / 2cm;
  conversion: 1% / 2px;
  conversion: 1px / 2%;
  conversion: 1cm / 2cm;
  conversion: 1 / 2cm;
  conversion: 1cm / 2;
  conversion: 1% / 2cm;
  conversion: 1cm / 2%;
  conversion: 1% / 2cm;
  conversion: 1% / 2;
  conversion: 1 / 2%;
  conversion: (1 / 2) / 3cm;
  conversion: (1px / 2) / 3cm;
  conversion: 1 / (2 / 3cm);
  conversion: 1px / (2 / 3cm);
}
