something {
  something1: 12 -23;
  something2: (12) (-23);
  something3: (12) (- 23);
  something4: (12) (-23+10);
  something5: 12 - 23;
  something6: (12 - 23);
  something7: (12 -23);
  something8: (12 (13 + 10 -23));
  something9: 12,(13 + 10 -23);
  /* operator + */
  something10: (12) + (-23);
  something11: (12)+(-23);
  something12: (12)+ (-23);
  /* operator - */
  something13: (12) - (-23);
  something14: (12)-(-23);
  something15: (12)- (-23);
  something16: (12) -(-23);
}
