something {
  margin1: -4;
  margin2: -2 -2 -2 -2;
  margin3: 11;
  margin4: 11;
  margin5: -11;
  /* Try with different properties: */
  margin6: -5 -2 -4;
  something7: -5 -2 -4;
  padding8: -5 -2 -4;
  /* Two operators: */
  margin9: 0;
  margin10: 0;
  /* Unary operators: */
  margin11: -3;
}
multiply {
  margin1: 6;
  margin2: 6;
  margin3: 6;
  margin4: 6;
}
