plusConversions {
  conversion1: 1px + 2px;
  conversion2: 1 + 2px;
  conversion3: 1px + 2;
  conversion4: 1cm + 2px;
  conversion5: 1px + 2cm;
  conversion6: 1% + 2px;
  conversion7: 1px + 2%;
  conversion8: 1cm + 2cm;
  conversion9: 1 + 2cm;
  conversion10: 1cm + 2;
  conversion11: 1% + 2cm;
  conversion12: 1cm + 2%;
  conversion13: 1% + 2cm;
  conversion14: 1% + 2;
  conversion15: 1 + 2%;
  conversion16: (1 + 2) + 3cm;
  conversion17: (1px + 2) + 3cm;
  conversion18: 1 + (2 + 3cm);
  conversion19: 1px + (2 + 3cm);
}
minusConversions {
  conversion1: 1px - 2px;
  conversion2: 1 - 2px;
  conversion3: 1px - 2;
  conversion4: 1cm - 2px;
  conversion5: 1px - 2cm;
  conversion6: 1% - 2px;
  conversion7: 1px - 2%;
  conversion8: 1cm - 2cm;
  conversion9: 1 - 2cm;
  conversion10: 1cm - 2;
  conversion11: 1% - 2cm;
  conversion12: 1cm - 2%;
  conversion13: 1% - 2cm;
  conversion14: 1% - 2;
  conversion15: 1 - 2%;
  conversion16: (1 - 2) - 3cm;
  conversion17: (1px - 2) - 3cm;
  conversion18: 1 - (2 - 3cm);
  conversion19: 1px - (2 - 3cm);
}
multiplicationConversions {
  conversion1: 1px * 2px;
  conversion2: 1 * 2px;
  conversion3: 1px * 2;
  conversion4: 1cm * 2px;
  conversion5: 1px * 2cm;
  conversion6: 1% * 2px;
  conversion7: 1px * 2%;
  conversion8: 1cm * 2cm;
  conversion9: 1 * 2cm;
  conversion10: 1cm * 2;
  conversion11: 1% * 2cm;
  conversion12: 1cm * 2%;
  conversion13: 1% * 2cm;
  conversion14: 1% * 2;
  conversion15: 1 * 2%;
  conversion16: (1 * 2) * 3cm;
  conversion17: (1px * 2) * 3cm;
  conversion18: 1 * (2 * 3cm);
  conversion19: 1px * (2 * 3cm);
}
solidusConversions {
  conversion1: 1px / 2px;
  conversion2: 1 / 2px;
  conversion3: 1px / 2;
  conversion4: 1cm / 2px;
  conversion5: 1px / 2cm;
  conversion6: 1% / 2px;
  conversion7: 1px / 2%;
  conversion8: 1cm / 2cm;
  conversion9: 1 / 2cm;
  conversion10: 1cm / 2;
  conversion11: 1% / 2cm;
  conversion12: 1cm / 2%;
  conversion13: 1% / 2cm;
  conversion14: 1% / 2;
  conversion15: 1 / 2%;
  conversion16: (1 / 2) / 3cm;
  conversion17: (1px / 2) / 3cm;
  conversion18: 1 / (2 / 3cm);
  conversion19: 1px / (2 / 3cm);
}
