operations {
  solidus: rgba(8, 15, 24, 0.4) / rgba(4, 5, 6, 0.2);
  star: rgba(1, 2, 3, 0.1) * rgba(4, 5, 6, 0.2);
  plus: rgba(1, 2, 3, 0.1) + rgba(4, 5, 6, 0.2);
  minus: rgba(4, 5, 6, 0.2) - rgba(1, 2, 3, 0.1);
}

operations-rgba-rgb {
  solidus: rgba(8, 15, 24, 0.4) / #040506;
  star: rgba(1, 2, 3, 0.1) * #445566;
  plus: rgba(1, 2, 3, 0.1) + #456;
  minus: rgba(4, 5, 6, 0.2) - #123;
}

operations-rgb-rgba {
  solidus: #081524 / rgba(4, 5, 6, 0.2);
  star: #010203 * rgba(4, 5, 6, 0.2);
  plus: #010203 + rgba(4, 5, 6, 0.2);
  minus: #456 - rgba(1, 2, 3, 0.1);
}

operations-rgba-smallNumber {
  minus: rgba(4, 5, 6, 0.3) - 0.1;
  plus: rgba(4, 5, 6, 0.3) + 0.6;
}
