something {
  something: 12 -23;
  something: 12 -23;
  something: 12 -23;
  something: 12 -13;
  something: -11;
  something: -11;
  something: 12 -23;
  something: 12 23 -23;
  something: 12, 23 -23;
  /* operator + */
  something: -11;
  something: -11;
  something: -11;
  /* operator - */
  something: 35;
  something: 35;
  something: 35;
  something: 12 23;
}