something {
  something: 12 -23;
  something: (12) (-23);
  something: (12) (- 23);
  something: (12) (-23+10);
  something: 12 - 23;
  something: (12 - 23);
  something: (12 -23);
  something: (12 (13 + 10 -23));
  something: 12,(13 + 10 -23);
  /* operator + */
  something: (12) + (-23);
  something: (12)+(-23);
  something: (12)+ (-23);
  /* operator - */
  something: (12) - (-23);
  something: (12)-(-23);
  something: (12)- (-23);
  something: (12) -(-23);
}
