doNotEvaluateFonts{
 font:14px+16px; //this one is not supported by less.js
 font-style:14px+16px;
 grrr:14px+16px;
 font:14px-16px;
 font-style:14px-16px;
 grrr:14px-16px;
 font:14px*16px; //this one is not supported by less.js
 font-style:14px*16px;
 grrr:14px*16px;
 font:14px/16px;
 font-style:14px/16px;
 grrr:14px/16px;
}
