simpleNumber {
  number: -12;
  number: 12;
  number: -0;
  number: 0;
  number: -3;
  number: 3;
  float: 1.3;
  float: 0.3;
  float: .3;
  float: -1.3;
  float: -0.3;
  float: -.3;
  percentage: -12%;
  percentage: 12%;
  percentage: -0%;
  percentage: 0%;
  percentage: -3%;
  percentage: 3%;
  floatPercentage: 1.3%;
  floatPercentage: 0.3%;
  floatPercentage: .3%;
  floatPercentage: -1.3%;
  floatPercentage: -0.3%;
  floatPercentage: -.3%;
  pixels: -12px;
  pixels: 12px;
  pixels: -0px;
  pixels: 0px;
  pixels: -3px;
  pixels: 3px;
  floatPixels: 1.3px;
  floatPixels: 0.3px;
  floatPixels: .3px;
  floatPixels: -1.3px;
  floatPixels: -0.3px;
  floatPixels: -.3px;
}