.variableMixin1() {
  @first: 10;
  second-in-first: @second; // syntax error - not declared
  third-in-first: @third; // syntax error - not declared
}

.variableMixin2() {
  third-in-second: @third; // syntax error - not declared
  @second: 20;
}

.variableMixin3(...) {
  @third: 30;
}

#call-variableMixin {
  first: @first;
  second: @second;
  third: @third;
  .variableMixin1();
  .variableMixin2();
  .variableMixin3();
}