@parameterDefault: 'top level';
@anotherVariable: 'top level';

//mixin uses top-level variables
.mixinNoParam(@parameter: @parameterDefault) {
  default: @parameter;
  scope: @anotherVariable;
}

#allAreUsedHere {
  //redefine top-level variables in different scope
  @parameterDefault: 'inside';
  @anotherVariable: 'inside';
  @undefined: 'inside';
  //use the mixin
  .mixinNoParam();
}