a:pseudo b:pseudo c:pseudo d:pseudo,
a:other b:other c:other d:other {
  property: value;
}
a:ppppp:ppppp:ppppp,
a:short-in-one:short-in-one:short-in-one {
  property: value;
}
a:dddd:dddd:dddd:dddd:dddd:dddd,
a:long-in-one:long-in-one:long-in-one {
  property: value;
}