a:pseudo b:pseudo c:pseudo d:pseudo {
  property: value;
}

:other:extend(:pseudo all) {}

a:ppppp:ppppp:ppppp {
  property: value;
}

:short-in-one:extend(:ppppp all) {}

a:dddd:dddd:dddd:dddd:dddd:dddd {
  property: value;
}

:long-in-one:extend(:dddd:dddd all) {}

.only-one {
  property: value;
}

:single:extend(.only-one all) {}

.no-element.no-element.no-element {
  property: value;
}

.three:extend(.no-element all) {}