a:pseudo a:pseudo a:pseudo a:pseudo {
  property: value;
}

multiple:extend(:pseudo a all) {}

.class .class .class .class .class {
  property: value;
}

overlap:extend(.class .class all) {}

#id #id #id #id #id #id #id #id #id #id #id  {
  property: value;
}

longoverlap:extend(#id #id #id all) {}
