# correct variables
@overwrite: all right;
@identifier: identifier;
@string: "string";
@escaped: ~"escaped";
@list: 0 1 2 3, a b c;
@expression: 1 + 3 - @number;
@another-variable: @default;
@detached-ruleset-simple: { div { property: value; } };
@detached-ruleset-mixin: { .mixin(@value); @value: value; };
