.onTop > .direct + .guarded:true {
  guarded-true: outer available;
}
.onTop > .direct + .guarded:true nested {
  guarded-true: inner available;
}
.outer + .true[type=2] {
  used-local-scope: correctly;
}
.true no argument mixin[type=2] {
  used-local-scope: correctly;
}
.it .depends global[type=1] {
  used-scope: global;
}
.true with argument argument[type=2] {
  used-argument-scope: correctly;
}
.outer2.outer1 .true no argument mixin[type=2] {
  used-local-scope: correctly;
}
.outer2.outer1 .it .depends global[type=1] {
  used-scope: global;
}
.outer2.outer1 .true with argument argument[type=2] {
  used-argument-scope: correctly;
}
.local-in-caller .caller mixin[type=2] {
  used-scope: correctly;
}