  @media print {
  font-size: 3em;
}
@media screen {
  font-size: 10px;
}
@media screen,print {
  font-size: 10px;
}
@media screen , screen {
  font-size: 10px;
}

@media screen
  {
  p.test {font-family:verdana,sans-serif;font-size:14px;}
  }
@media print
  {
  p.test {font-family:times, serif;font-size:10px;}
  }
@media screen,print
  {
  p.test {font-weight:bold;}
  }
  
@media screen
  {
  p.test {font-family:verdana,sans-serif;font-size:14px;}
  p.test {font-weight:bold;}
    font-size: 10px;
a.test {font-family:verdana,sans-serif;font-size:14px;}
  a.test {font-weight:bold;}
    font-size: 10px;
    font-size: 10px;
  }
  
