importedSelector {
  .mainMixin(); // mixin is defined in main file
  .importedMixin();
}
.importedMixin() {
  content: "imported mixin @variable" @variable;
  content: "imported mixin @definitelyLast" @definitelyLast;
}
@variable: 3; // main file contains variable with the same name
@definitelyLast: 1; // main file contains variable with the same name
