#a {
  color: blue;
}
@media screen {
  #a set1 {
    padding: 1 1 1 1;
  }
  #a set2 {
    padding: 2 2 2 2;
  }
}
@media screen, (min-width: 117px) and (min-width: 117px) {
}
@media screen and (max-device-aspect-ratio: 1367/768), (min-width: 117px) and (min-width: 117px) and (max-device-aspect-ratio: 1367/768), screen and (max-device-aspect-ratio: 2000/768), (min-width: 117px) and (min-width: 117px) and (max-device-aspect-ratio: 2000/768) {
  * {
    color: red;
  }
}
@media print {
  footer {
    color: #ffffff;
  }
  header {
    color: #ffffff;
  }
}
@media print and (min-width: 117px) {
  header {
    color: #000000;
  }
  footer {
    color: #000000;
  }
}
#namespace #foo {
  color: #000000;
}
@media (orientation: portrait) {
  #namespace #bar {
    color: #ffffff;
  }
}
@media all and (orientation: portrait) {
  * {
    color: blue;
  }
}
@media print {
  @page {
    margin: 0.5cm;
  }
}
#namespace #foo {
  color: black;
}
@media (orientation: portrait) {
  #namespace #bar {
    color: white;
  }
}
@media (orientation: portrait) and (min-width: 22) and (max-width: 220) {
  #namespace #bar {
    padding: 2 2 2 2;
  }
  #namespace #bar .innest {
    margin: 1 1 1 1;
  }
}
@media print {
  * {
    color: blue;
  }
}
@media only screen and (min-width: 480px) {
  * {
    color: green;
  }
}
@media screen {
  .sidebar {
    width: 300px;
  }
}
@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}
.selector p {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .selector p {
    font-size: 14px;
  }
}
.selector p {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .selector p {
    font-size: 14px;
  }
}
.classone {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .classone {
    width: 100%;
  }
}
.classtwo {
  width: 50%;
}
@media screen and (max-width: 600px) {
  h1 {
    declaration: value;
  }
}
@media screen and (max-width: 300) {
  h2 {
    declaration: value;
  }
}
body {
  background: red;
}
@media (max-width: 500px) {
  body {
    background: green;
  }
}
@media (max-width: 1000px) {
  body {
    background: red;
    background: blue;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  body {
    background: green;
  }
}
