@media screen and (max-device-aspect-ratio: 1367/768), print and (max-device-aspect-ratio: 1367/768) {
  h2 h1 {
    color: white;
  }
}
@media screen, print {
  pre td body #nested {
    content: "string";
  }
}
@media screen and (max-device-aspect-ratio: 30/2), print and (max-device-aspect-ratio: 30/2) {
  pre td body #nested h2 {
    color: white;
  }
}