/* double-semi-colon.less */
//https://github.com/cloudhead/less.js/issues/670
//https://github.com/cloudhead/less.js/issues/470
@color: #4D926F;;

#header {
  color: @color;;
}
h2 {
  color: @color;
}

