@import (reference) "import/import-as-reference-mixin.less";
.importer {
  .returnedMixin() {
    returned: mixin;
  }
}

div {
  #namespace > .returnedMixin();
  referenced: mixin;
  variable: @variable;
}