first {
  first: first;
}
@variable: @fromImporter;

.mixin() {
  content: ~"@variable value is" @variable;
}

#space {
  .mixin() {
    content: ~"mixin in space";
  }
}
div {
  location: main;
  variable: main;
}