/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-76b.css
NEGATED :nth-last-of-type() pseudo-class
*/
.green {
  background-color: lime ! important;
}
p:not(:nth-last-of-type(3)) {
  background-color: red;
}
dl > *:not(:nth-last-of-type(3n+1)) {
  background-color: red;
}
