#parenthesisNot-true {
  parenthesisNot: just-value;
  parenthesisNot: negated twice 1;
  parenthesisNot: negated twice 2;
  parenthesisNot: negated twice 3;
}
#parenthesisNot-false {
  parenthesisNot: negated once inside;
  parenthesisNot: negated once outside;
  parenthesisNot: negated once middle;
}
#orderOfEvaluation-false-false-true {
  no-parenthesis: evaluated true 1a;
  no-parenthesis: evaluated true 1b;
  no-parenthesis: evaluated true 1d;
  no-parenthesis: evaluated true 3;
  no-parenthesis: evaluated true 4;
  with-parenthesis: evaluated true;
}
#orderOfEvaluation-false-false-false {
  no-parenthesis: evaluated true 2a;
  no-parenthesis: evaluated true 2b;
  no-parenthesis: evaluated true 2c;
}
#orderOfEvaluation-true-true-false {
  no-parenthesis: evaluated true 1a;
  no-parenthesis: evaluated true 1b;
  no-parenthesis: evaluated true 1c;
  no-parenthesis: evaluated true 1d;
  no-parenthesis: evaluated true 1e;
  no-parenthesis: evaluated true 2a;
  no-parenthesis: evaluated true 2b;
  no-parenthesis: evaluated true 2c;
  no-parenthesis: evaluated true 4;
  with-parenthesis: evaluated true;
}
