contrast {
  color-normal: contrast(#666666, #101010, #AAAAAA);
  color-reversed: contrast(#666666, #AAAAAA, #101010);
  color-normal-treshold: contrast(#666666, #101010, #AAAAAA);
  color-reversed-treshold: contrast(#666666, #AAAAAA, #101010);
  color-normal: contrast(#666666, #101010, #AAAAAA, 0.1);
  color-reversed: contrast(#666666, #AAAAAA, #101010, 0.1);
  color-normal-treshold: contrast(#666666, #101010, #AAAAAA, 0.1);
  color-reversed-treshold: contrast(#666666, #AAAAAA, #101010, 0.1);
}