.mixin { border: 1px solid black; }
.borders { border-style: dashed; }

#namespace {
  .borders {
    border-style: dotted;
  }
}
#container {
  color: black;
}

#header {
  .milk {
    color: white;
  }
  #cookie {
    .chips {
      #namespace .borders;
      .calories {
        #container;
      }
    }
    .borders;
  }
}
