// with tail
.tail-loop() { the: end; }
.tail-loop(@head, @tail...) {
  @first: extract(@head, 1);
  @second: extract(@head, 2);

  @{first}: @second;
  tail: @tail;
  .tail-loop(@tail...);
}

.class {
  @values : a A, b B, c C;
  .tail-loop(@values...);
}