/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-174a.css
Attribute selectors with multiple attributes
*/

 tests, tests * { display: block; color: red; }
 testA[*|attribute="pass"] { color: green; }
 testB[*|attribute="pass"] { color: green; }
