/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-47.css
NEGATED type element selector
*/
div.stub span, div.stub address, div.stub *|q, div.stub *|r { background-color: red; }
address, *|q, *|r { display: block; margin: 1em; }
div.stub *:not(p) { background-color: lime; }