/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-d2.css
Dynamic handling of combinators
*/

   #test { background: red; display: block; padding: 1em; }
   #stub ~ div div + div > div { background: lime; }
