/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-44b.css
Child combinator
*/
.white {
  background-color: transparent !important;
}
.green {
  background-color: lime;
}
div > p.test {
  background-color: red;
}
