/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-82.css
NEGATED :only-of-type pseudo-class
*/
.red {
  background-color: red;
}
.t1 *:not(:only-of-type) {
  background-color: lime;
}
