/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-81b.css
NEGATED :only-child pseudo-class
*/
.green {
  background-color: lime ! important;
}
p:not(:only-child) {
  background-color: lime;
}
div.testText > div > p {
  margin-left: 1em;
}
