/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-179.css
::first-line on inlines
*/
p {
  color: green;
}
span:first-line {
  background: red;
  color: yellow;
  font-size: 4em;
}
span::first-line {
  background: red;
  color: yellow;
  font-size: 4em;
}
