/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-80.css
NEGATED :last-of-type pseudo-class
*/
.red {
  background-color: red;
}
address {
  margin-bottom: 1em;
  margin-left: 1em;
}
address:not(:last-of-type) {
  background-color: lime;
}
