/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-72b.css
NEGATED :root pseudo-class
*/
html:not(:root),
test:not(:root) {
  background-color: red;
}
p {
  background-color: lime;
}
