/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-62.css
NEGATED :visited pseudo-class
*/
div.stub > * {
  background-color: red;
}
div.stub *:not(:visited) {
  background-color: lime;
}
