/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-d1.css
NEGATED Dynamic handling of :empty
*/

   #test { background: red; display: block; padding: 1em; }
   #test:not(:empty) { background: lime; }
