/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-166a.css
:first-letter with ::first-letter
*/
p::first-letter {
  background-color: red;
}
p:first-letter {
  background-color: lime;
}
