/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-146b.css
:nth-child() pseudo-class with hidden elements
*/
line {
  display: block;
}
[type~=match] {
  background: lime !important;
}
line:nth-child(3n-1) {
  background: red;
}
[hidden] {
  display: none;
}
