/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-39a.css
::first-letter pseudo-element with ::before pseudo-element
*/
p:first-letter {
  color: lime;
  font-size: xx-large;
}
p:before {
  color: red;
  content: 'T';
}
