/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-144.css
NEGATED :enabled:disabled pseudo-classes
*/
div :not(:enabled):not(:disabled) {
  background: lime;
}
p {
  background: red;
}
