/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-70.css
NEGATED :checked pseudo-class
*/
input,
span {
  background-color: red;
}
input:not(:checked),
input:not(:checked) + span {
  background-color: lime;
}
