/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-90b.css
Simple combination of direct and indirect adjacent combinators
*/
p {
  color: green !important;
}
blockquote ~ div + p {
  color: red;
}
