/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-153.css
:empty pseudo-class and CDATA
*/
address {
  background: red;
  margin: 0;
  height: 1em;
  display: block;
}
address:empty {
  background: lime;
}
.text {
  margin: -1em 0 0 0;
}
