/* http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/xml/tests/css3-modsel-35.css
:last-of-type pseudo-class
*/
.red {
  background-color: red;
}
address {
  margin-bottom: 1em;
  margin-left: 1em;
}
address:last-of-type {
  background-color: lime;
}
