/* namespaces scope is treated differently than variables and mixins */
/* variant 1 */
#abc1 {
  content: "conflict";
}
/* variant 2 */
#abc2 {
  color: red;
  margin: 2 2 2 2;
}
/* variant 3 */
#abc3 {
  color: red;
  margin: 2 2 2 2;
}