@media print {
  .print {
    declaration: value;
  }
  .printExtending:extend(.print):extend(.screen):extend(.outside):extend(.tablet) {}
  @media (min-width: 120px) {
    .tablet {
      declaration: value;
    }
    .tabletExtending:extend(.print):extend(.screen):extend(.outside):extend(.tablet) {}
  }
}
@media screen {
  .screen {
    declaration: value;
  }
  .screenExtending:extend(.print):extend(.screen):extend(.outside):extend(.tablet) {}
}
.outside {
  declaration: value;
}

.outsideExtending:extend(.print):extend(.screen):extend(.outside):extend(.tablet) {}


