/* expression width should be parseable */
@media all and (width) {
  font-size: 3em;
}
/* expression width: 0 should be parseable */
@media all and (width: 0) {
  font-size: 3em;
}
/* expression width: 0px should be parseable */
@media all and (width: 0px) {
  font-size: 3em;
}
/* expression width: 0em should be parseable */
@media all and (width: 0em) {
  font-size: 3em;
}
/* expression width: -0 should be parseable */
@media all and (width: -0) {
  font-size: 3em;
}
/* expression min-width: -0 should be parseable */
@media all and (min-width: -0) {
  font-size: 3em;
}
/* expression max-width: -0 should be parseable */
@media all and (max-width: -0) {
  font-size: 3em;
}
/* expression width: -0cm should be parseable */
@media all and (width: -0cm) {
  font-size: 3em;
}
/* expression width: 1px should be parseable */
@media all and (width: 1px) {
  font-size: 3em;
}
/* expression width: 0.001mm should be parseable */
@media all and (width: 0.001mm) {
  font-size: 3em;
}
/* expression width: 100000px should be parseable */
@media all and (width: 100000px) {
  font-size: 3em;
}
/* expression height should be parseable */
@media all and (height) {
  font-size: 3em;
}
/* expression height: 0 should be parseable */
@media all and (height: 0) {
  font-size: 3em;
}
/* expression height: 0px should be parseable */
@media all and (height: 0px) {
  font-size: 3em;
}
/* expression height: 0em should be parseable */
@media all and (height: 0em) {
  font-size: 3em;
}
/* expression height: -0 should be parseable */
@media all and (height: -0) {
  font-size: 3em;
}
/* expression min-height: -0 should be parseable */
@media all and (min-height: -0) {
  font-size: 3em;
}
/* expression max-height: -0 should be parseable */
@media all and (max-height: -0) {
  font-size: 3em;
}
/* expression height: -0cm should be parseable */
@media all and (height: -0cm) {
  font-size: 3em;
}
/* expression height: 1px should be parseable */
@media all and (height: 1px) {
  font-size: 3em;
}
/* expression height: 0.001mm should be parseable */
@media all and (height: 0.001mm) {
  font-size: 3em;
}
/* expression height: 100000px should be parseable */
@media all and (height: 100000px) {
  font-size: 3em;
}
/* expression device-width should be parseable */
@media all and (device-width) {
  font-size: 3em;
}
/* expression device-width: 0 should be parseable */
@media all and (device-width: 0) {
  font-size: 3em;
}
/* expression device-width: 0px should be parseable */
@media all and (device-width: 0px) {
  font-size: 3em;
}
/* expression device-width: 0em should be parseable */
@media all and (device-width: 0em) {
  font-size: 3em;
}
/* expression device-width: -0 should be parseable */
@media all and (device-width: -0) {
  font-size: 3em;
}
/* expression min-device-width: -0 should be parseable */
@media all and (min-device-width: -0) {
  font-size: 3em;
}
/* expression max-device-width: -0 should be parseable */
@media all and (max-device-width: -0) {
  font-size: 3em;
}
/* expression device-width: -0cm should be parseable */
@media all and (device-width: -0cm) {
  font-size: 3em;
}
/* expression device-width: 1px should be parseable */
@media all and (device-width: 1px) {
  font-size: 3em;
}
/* expression device-width: 0.001mm should be parseable */
@media all and (device-width: 0.001mm) {
  font-size: 3em;
}
/* expression device-width: 100000px should be parseable */
@media all and (device-width: 100000px) {
  font-size: 3em;
}
/* expression device-height should be parseable */
@media all and (device-height) {
  font-size: 3em;
}
/* expression device-height: 0 should be parseable */
@media all and (device-height: 0) {
  font-size: 3em;
}
/* expression device-height: 0px should be parseable */
@media all and (device-height: 0px) {
  font-size: 3em;
}
/* expression device-height: 0em should be parseable */
@media all and (device-height: 0em) {
  font-size: 3em;
}
/* expression device-height: -0 should be parseable */
@media all and (device-height: -0) {
  font-size: 3em;
}
/* expression min-device-height: -0 should be parseable */
@media all and (min-device-height: -0) {
  font-size: 3em;
}
/* expression max-device-height: -0 should be parseable */
@media all and (max-device-height: -0) {
  font-size: 3em;
}
/* expression device-height: -0cm should be parseable */
@media all and (device-height: -0cm) {
  font-size: 3em;
}
/* expression device-height: 1px should be parseable */
@media all and (device-height: 1px) {
  font-size: 3em;
}
/* expression device-height: 0.001mm should be parseable */
@media all and (device-height: 0.001mm) {
  font-size: 3em;
}
/* expression device-height: 100000px should be parseable */
@media all and (device-height: 100000px) {
  font-size: 3em;
}
/* expression orientation should be parseable */
@media all and (orientation) {
  font-size: 3em;
}
/* expression orientation: portrait should be parseable */
@media all and (orientation: portrait) {
  font-size: 3em;
}
/* expression orientation: landscape should be parseable */
@media all and (orientation: landscape) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1/1 should be parseable */
@media all and (max-aspect-ratio: 1/1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1 /1 should be parseable */
@media all and (max-aspect-ratio: 1 /1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1 / 1 should be parseable */
@media all and (max-aspect-ratio: 1 / 1) {
  font-size: 3em;
}
/* expression max-aspect-ratio: 1/ 1 should be parseable */
@media all and (max-aspect-ratio: 1/ 1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1/1 should be parseable */
@media all and (device-aspect-ratio: 1/1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1 /1 should be parseable */
@media all and (device-aspect-ratio: 1 /1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1 / 1 should be parseable */
@media all and (device-aspect-ratio: 1 / 1) {
  font-size: 3em;
}
/* expression device-aspect-ratio: 1/ 1 should be parseable */
@media all and (device-aspect-ratio: 1/ 1) {
  font-size: 3em;
}
