/* all and (width: 117px) should apply */
@media all and (width: 117px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-width: 117px) should apply */
@media all and (min-width: 117px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-width: 116px) should apply */
@media all and (min-width: 116px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-width: 117px) should apply */
@media all and (max-width: 117px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-width: 118px) should apply */
@media all and (max-width: 118px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-width: 6em) should apply */
@media all and (min-width: 6em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-width: 9em) should apply */
@media all and (max-width: 9em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (height: 76px) should apply */
@media all and (height: 76px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-height: 76px) should apply */
@media all and (min-height: 76px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-height: 75px) should apply */
@media all and (min-height: 75px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-height: 76px) should apply */
@media all and (max-height: 76px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-height: 77px) should apply */
@media all and (max-height: 77px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-height: 3em) should apply */
@media all and (min-height: 3em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-height: 6em) should apply */
@media all and (max-height: 6em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (device-width: 1366px) should apply */
@media all and (device-width: 1366px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-width: 1366px) should apply */
@media all and (min-device-width: 1366px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-width: 1365px) should apply */
@media all and (min-device-width: 1365px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-width: 1366px) should apply */
@media all and (max-device-width: 1366px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-width: 1367px) should apply */
@media all and (max-device-width: 1367px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-width: 84em) should apply */
@media all and (min-device-width: 84em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-width: 87em) should apply */
@media all and (max-device-width: 87em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (device-height: 768px) should apply */
@media all and (device-height: 768px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-height: 768px) should apply */
@media all and (min-device-height: 768px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-height: 767px) should apply */
@media all and (min-device-height: 767px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-height: 768px) should apply */
@media all and (max-device-height: 768px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-height: 769px) should apply */
@media all and (max-device-height: 769px) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-height: 47em) should apply */
@media all and (min-device-height: 47em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-height: 49em) should apply */
@media all and (max-device-height: 49em) {
  .selector {
    font-size: 3em;
  }
}
/* all and (height) should apply */
@media all and (height) {
  .selector {
    font-size: 3em;
  }
}
/* all and (device-height) should apply */
@media all and (device-height) {
  .selector {
    font-size: 3em;
  }
}
/* all and (device-width) should apply */
@media all and (device-width) {
  .selector {
    font-size: 3em;
  }
}
/* all and (width) should apply */
@media all and (width) {
  .selector {
    font-size: 3em;
  }
}
/* all and (height) should apply */
@media all and (height) {
  .selector {
    font-size: 3em;
  }
}
/* all and (width) should apply */
@media all and (width) {
  .selector {
    font-size: 3em;
  }
}
/* (orientation) should apply */
@media (orientation) {
  .selector {
    font-size: 3em;
  }
}
/* (orientation: landscape) should apply */
@media (orientation: landscape) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (orientation: portrait) should apply */
@media not all and (orientation: portrait) {
  .selector {
    font-size: 3em;
  }
}
/* (orientation) should apply */
@media (orientation) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (orientation: landscape) should apply */
@media not all and (orientation: landscape) {
  .selector {
    font-size: 3em;
  }
}
/* (orientation: portrait) should apply */
@media (orientation: portrait) {
  .selector {
    font-size: 3em;
  }
}
/* (aspect-ratio: 59/80) should apply */
@media (aspect-ratio: 59/80) {
  .selector {
    font-size: 3em;
  }
}
/* (aspect-ratio: 177/240) should apply */
@media (aspect-ratio: 177/240) {
  .selector {
    font-size: 3em;
  }
}
/* (aspect-ratio: 413/560) should apply */
@media (aspect-ratio: 413/560) {
  .selector {
    font-size: 3em;
  }
}
/* (aspect-ratio: 5900/8000) should apply */
@media (aspect-ratio: 5900/8000) {
  .selector {
    font-size: 3em;
  }
}
/* (aspect-ratio) should apply */
@media (aspect-ratio) {
  .selector {
    font-size: 3em;
  }
}
/* (min-aspect-ratio: 59/80) should apply */
@media (min-aspect-ratio: 59/80) {
  .selector {
    font-size: 3em;
  }
}
/* (min-aspect-ratio: 58/80) should apply */
@media (min-aspect-ratio: 58/80) {
  .selector {
    font-size: 3em;
  }
}
/* (min-aspect-ratio: 59/81) should apply */
@media (min-aspect-ratio: 59/81) {
  .selector {
    font-size: 3em;
  }
}
/* (max-aspect-ratio: 59/80) should apply */
@media (max-aspect-ratio: 59/80) {
  .selector {
    font-size: 3em;
  }
}
/* (max-aspect-ratio: 60/80) should apply */
@media (max-aspect-ratio: 60/80) {
  .selector {
    font-size: 3em;
  }
}
/* (max-aspect-ratio: 59/79) should apply */
@media (max-aspect-ratio: 59/79) {
  .selector {
    font-size: 3em;
  }
}
/* (device-aspect-ratio: 1366/768) should apply */
@media (device-aspect-ratio: 1366/768) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (device-aspect-ratio: 1367/768) should apply */
@media not all and (device-aspect-ratio: 1367/768) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (device-aspect-ratio: 1366/769) should apply */
@media not all and (device-aspect-ratio: 1366/769) {
  .selector {
    font-size: 3em;
  }
}
/* (device-aspect-ratio) should apply */
@media (device-aspect-ratio) {
  .selector {
    font-size: 3em;
  }
}
/* (min-device-aspect-ratio: 1366/768) should apply */
@media (min-device-aspect-ratio: 1366/768) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (min-device-aspect-ratio: 1366/767) should apply */
@media not all and (min-device-aspect-ratio: 1366/767) {
  .selector {
    font-size: 3em;
  }
}
/* all and (min-device-aspect-ratio: 1366/769) should apply */
@media all and (min-device-aspect-ratio: 1366/769) {
  .selector {
    font-size: 3em;
  }
}
/* all and (max-device-aspect-ratio: 1366/768) should apply */
@media all and (max-device-aspect-ratio: 1366/768) {
  .selector {
    font-size: 3em;
  }
}
/* (max-device-aspect-ratio: 1367/768) should apply */
@media (max-device-aspect-ratio: 1367/768) {
  .selector {
    font-size: 3em;
  }
}
/* (max-device-aspect-ratio: 1366/767) should apply */
@media (max-device-aspect-ratio: 1366/767) {
  .selector {
    font-size: 3em;
  }
}
/* not all and (max-device-aspect-ratio: 1366/769) should apply */
@media not all and (max-device-aspect-ratio: 1366/769) {
  .selector {
    font-size: 3em;
  }
}
