/* query (orientation) should be parseable */
@media screen, (orientation) {
  .selector {
    font-size: 3em;
  }
}
/* query all and (orientation) should be parseable */
@media screen, all and (orientation) {
  .selector {
    font-size: 3em;
  }
}
/* query not all and (orientation) should be parseable */
@media screen, not all and (orientation) {
  .selector {
    font-size: 3em;
  }
}
/* query only all and (orientation) should be parseable */
@media screen, only all and (orientation) {
  .selector {
    font-size: 3em;
  }
}
