/* Media Queries Self-Contained Test Suite */
@media all and (min-monochrome: 1) {
  font-size: 3em;
}
/* all and (width: 118px) should not apply */
@media all and (width: 118px) {
  font-size: 3em;
}
/* all and (width: 116px) should not apply */
@media all and (width: 116px) {
  font-size: 3em;
}
/* all and (min-width: 118px) should not apply */
@media all and (min-width: 118px) {
  font-size: 3em;
}
/* all and (max-width: 116px) should not apply */
@media all and (max-width: 116px) {
  font-size: 3em;
}
/* all and (min-width: 9em) should not apply */
@media all and (min-width: 9em) {
  font-size: 3em;
}
/* all and (max-width: 6em) should not apply */
@media all and (max-width: 6em) {
  font-size: 3em;
}
/* all and (height: 77px) should not apply */
@media all and (height: 77px) {
  font-size: 3em;
}
/* all and (height: 75px) should not apply */
@media all and (height: 75px) {
  font-size: 3em;
}
/* all and (min-height: 77px) should not apply */
@media all and (min-height: 77px) {
  font-size: 3em;
}
/* all and (max-height: 75px) should not apply */
@media all and (max-height: 75px) {
  font-size: 3em;
}
/* all and (min-height: 6em) should not apply */
@media all and (min-height: 6em) {
  font-size: 3em;
}
/* all and (max-height: 3em) should not apply */
@media all and (max-height: 3em) {
  font-size: 3em;
}
/* all and (device-width: 1367px) should not apply */
@media all and (device-width: 1367px) {
  font-size: 3em;
}
/* all and (device-width: 1365px) should not apply */
@media all and (device-width: 1365px) {
  font-size: 3em;
}
/* all and (min-device-width: 1367px) should not apply */
@media all and (min-device-width: 1367px) {
  font-size: 3em;
}
/* all and (max-device-width: 1365px) should not apply */
@media all and (max-device-width: 1365px) {
  font-size: 3em;
}
/* all and (min-device-width: 87em) should not apply */
@media all and (min-device-width: 87em) {
  font-size: 3em;
}
/* all and (max-device-width: 84em) should not apply */
@media all and (max-device-width: 84em) {
  font-size: 3em;
}
/* all and (device-height: 769px) should not apply */
@media all and (device-height: 769px) {
  font-size: 3em;
}
/* all and (device-height: 767px) should not apply */
@media all and (device-height: 767px) {
  font-size: 3em;
}
/* all and (min-device-height: 769px) should not apply */
@media all and (min-device-height: 769px) {
  font-size: 3em;
}
/* all and (max-device-height: 767px) should not apply */
@media all and (max-device-height: 767px) {
  font-size: 3em;
}
/* all and (min-device-height: 49em) should not apply */
@media all and (min-device-height: 49em) {
  font-size: 3em;
}
/* all and (max-device-height: 47em) should not apply */
@media all and (max-device-height: 47em) {
  font-size: 3em;
}
/* all and (width) should not apply */
@media all and (width) {
  font-size: 3em;
}
/* all and (height) should not apply */
@media all and (height) {
  font-size: 3em;
}
/* all and (width) should not apply */
@media all and (width) {
  font-size: 3em;
}
/* all and (height) should not apply */
@media all and (height) {
  font-size: 3em;
}
/* (orientation: portrait) should not apply */
@media (orientation: portrait) {
  font-size: 3em;
}
/* (orientation: landscape) should not apply */
@media (orientation: landscape) {
  font-size: 3em;
}
/* (aspect-ratio: 58/80) should not apply */
@media (aspect-ratio: 58/80) {
  font-size: 3em;
}
/* (aspect-ratio: 59/81) should not apply */
@media (aspect-ratio: 59/81) {
  font-size: 3em;
}
/* (aspect-ratio: 60/80) should not apply */
@media (aspect-ratio: 60/80) {
  font-size: 3em;
}
/* (aspect-ratio: 59/79) should not apply */
@media (aspect-ratio: 59/79) {
  font-size: 3em;
}
/* (aspect-ratio: 5901/8000) should not apply */
@media (aspect-ratio: 5901/8000) {
  font-size: 3em;
}
/* (aspect-ratio: 5899/8000) should not apply */
@media (aspect-ratio: 5899/8000) {
  font-size: 3em;
}
/* (aspect-ratio: 5900/8001) should not apply */
@media (aspect-ratio: 5900/8001) {
  font-size: 3em;
}
/* (aspect-ratio: 5900/7999) should not apply */
@media (aspect-ratio: 5900/7999) {
  font-size: 3em;
}
/* (min-aspect-ratio: 60/80) should not apply */
@media (min-aspect-ratio: 60/80) {
  font-size: 3em;
}
/* (min-aspect-ratio: 59/79) should not apply */
@media (min-aspect-ratio: 59/79) {
  font-size: 3em;
}
/* (max-aspect-ratio: 58/80) should not apply */
@media (max-aspect-ratio: 58/80) {
  font-size: 3em;
}
/* (max-aspect-ratio: 59/81) should not apply */
@media (max-aspect-ratio: 59/81) {
  font-size: 3em;
}
/* all and (device-aspect-ratio: 1366/767) should not apply */
@media all and (device-aspect-ratio: 1366/767) {
  font-size: 3em;
}
/* all and (device-aspect-ratio: 1365/768) should not apply */
@media all and (device-aspect-ratio: 1365/768) {
  font-size: 3em;
}
/* all and (min-device-aspect-ratio: 1367/768) should not apply */
@media all and (min-device-aspect-ratio: 1367/768) {
  font-size: 3em;
}
/* not all and (min-device-aspect-ratio: 1365/768) should not apply */
@media not all and (min-device-aspect-ratio: 1365/768) {
  font-size: 3em;
}
/* all and (max-device-aspect-ratio: 1365/768) should not apply */
@media all and (max-device-aspect-ratio: 1365/768) {
  font-size: 3em;
}
