#inequality #compatible-equal {
  guard-equal: true;
}
#inequality #compatible-different {
  guard-smaller: true;
}
#inequality #incompatible {
  guard: false;
}
#conversions #no-unit {
  declare: 4 is less then 10%;
  declare: 4 is less then 5cm;
}
#conversions #conversion {
  declare: 40mm is less then 5cm;
}
