#tryZero {
  catch: all;
  declare: minus 0;
  declare: 0;
}
#tryMinusZero {
  catch: all;
  declare: minus 0;
  declare: 0;
}
#tryNegatedNumber {
  catch: all;
  declare: -4;
  declare: minus 4px;
}
#tryNumber {
  catch: all;
  declare: 4;
  declare: 4px;
}
#tryNumberPx {
  catch: all;
  declare: 4;
  declare: 4px;
}
#tryNumberMinuxPx {
  catch: all;
  declare: -4;
  declare: minus 4px;
}
#tryString1 {
  catch: all;
}
#tryString2 {
  catch: all;
}
#tryIdentifier {
  catch: all;
}
#tryNegativeIdentifier {
  catch: all;
}
#tryColor1 {
  catch: all;
}
#tryColor2 {
  catch: all;
}
