//looping case
.spanX (@index) when (@index > 0) {
  loop: member @index;
  .spanX((@index - 1));
}
.spanX (@index) when (@index =< 0) { 
  loop: end;
}

#loop-here {
 .spanX(5);
}
//simple non-looping case
.simpleCase() {
  property: value;
}
.simpleCase {
  .simpleCase();
}
//complicated non-looping case
.img-responsive() {
  property: mixin;
}

.img-responsive {
  .img-responsive {
    inner: inner;
    .img-responsive();
  }
  .img-responsive();
}
//loop calling another mixin: issue #169 https://github.com/SomMeri/less4j/issues/169
.make-grid(@index) when (@index >= 0) {
  .calc-grid(@index); //call needs to be here
  .make-grid(@index - 1);
}
.calc-grid(@index) {
  //nothing here
  scary: @index;
}
selector {
  .make-grid(1); // 0 would not fail
}
//loop calling another mixin - this time with import inspired by issue #169
.make-test(@index) when (@index >= 0) {
  .import-variable(@index); //call needs to be here
  variable:  @variable;
  .make-test((@index - 1));
}
.import-variable(@parameter) when (@parameter>0) {
  @variable: big;
}
.import-variable(@parameter) when (@parameter=0) {
  @variable: zero;
}
selector {
  .make-test(1); // 0 would not fail
}
