.allAreUsedHere {
  .nestedMixin() {
    first: first;
  }
  .mainMixin() {
    second: second;
    .nestedMixin() {
      declaration: nestedSecond;
    }
    .nestedMixin;
  }
  .mainMixin;
  .nestedMixin() {
    last: last; 
  }
}
