.bo,
.bar {
  width: 100%;
}
.bo {
  border: 1px;
}
.ar.bo.ca {
  color: black;
}
.jo.ki {
  background: none;
}
.jo#ki {
  color: white;
}
#jo#ki {
  margin: 2;
}
.extended {
  width: 100%;
  border: 1px;
  background: none;
  margin: 2;
}
.foo .bar {
  width: 100%;
}
#extended.mixin.extended {
  padding: 2 2 2 2;
}
h1 {
  color: green;
  padding: 2 2 2 2;
}
h2 {
  color: green;
  padding: 2 2 2 2;
}
