 .mixinOne(@parameter) {
   content: @parameter;
 }
 .mixinTwo(@parameter1, @parameter2) {
   content1: @parameter1;
   content2: @parameter2;
 }

 #usePlace {
   @variable: 4%;
   .mixinOne(12 23 33px @variable);
   .mixinTwo(12 23 33px @variable, @variable identifier "hello");
 }

//issue #77 https://github.com/SomMeri/less4j/issues/77
.gradientBar(@shadow: 0 -1px 0 rgba(0,0,0,.25)) {
  text-shadow: @shadow;
}

#gradientBarUsePlace {
  .gradientBar();
}