#allAreUsedHere1 {
  declaration: mixinNoParam;
}
#allAreUsedHere1 {
  declaration: mixinNoParam;
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinOneVariable 3;
}
#allAreUsedHere1 {
  declaration: mixinOneVariable 3.3;
}
#allAreUsedHere1 {
  declaration: mixinOneVariable -3;
}
#allAreUsedHere1 {
  declaration: mixinOneVariable "One";
}
#allAreUsedHere1 {
  declaration: mixinOneVariable green;
}
#allAreUsedHere1 {
  declaration: mixinOneVariable #FF0000;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables green '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariables #FF0000 '2';
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinTwoVariablesOneDef 3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef 3.3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef -3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef "One" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef green 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef #FF0000 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef green '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOneDef #FF0000 '2';
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinTwoVariablesTwoDef 4 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef 4 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef 3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef 3.3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef -3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef "One" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef green 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef #FF0000 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef green '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesTwoDef #FF0000 '2';
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinTwoVariablesStringDef "a" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef "a" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef 3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef 3.3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef -3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef "One" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef green 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef #FF0000 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef green '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesStringDef #FF0000 '2';
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinTwoVariablesOtherStringDef 'hello' 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef 'hello' 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef 3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef 3.3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef -3 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef "One" 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef green 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef #FF0000 55;
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef green '2';
}
#allAreUsedHere1 {
  declaration: mixinTwoVariablesOtherStringDef #FF0000 '2';
}
#allAreUsedHere1 {
  /* next */
  declaration: mixinDefaultvariable 3 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable 3.3 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable -3 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable "One" 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable green 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable #FF0000 34;
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable 3 '2';
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable 3.3 '2';
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable -3 '2';
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable "One" '2';
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable green '2';
}
#allAreUsedHere1 {
  declaration: mixinDefaultvariable #FF0000 '2';
}
