//removed patter matching from the official test, it is not implemented yet
.mixin (@a: 0) {
  border: @a;
  .nested(@variable) {
    boxer: @variable;
  }
  .nested(@a);
}

.class {
  .mixin(1);
  .mixin(2) !important;
  .mixin(3);
  .mixin(4) !important;
  .mixin(5);
  .mixin !important;
}

//taken from less.js issues database: https://github.com/cloudhead/less.js/issues/1256
.mixinBorder() {
    border: 1px solid red;
}

.mixinText() {
    color: gold;
}

.mixinBorderAndText() {
    .mixinBorder();
    .mixinText();
}

div.blueNoBorder {
    color: blue;
}

div.blueNoBorder.withGoldAndRed {
    .mixinBorderAndText() !important;
}