.parent {
  .allAreUsedHere {
    .nestedMixin() {
      first: first;
    }
    .mainMixin() {
      second: second;
      .nestedMixin;
    }
    .mainMixin;
    .nestedMixin() {
      last: last; 
    }
  }
}
