#percentage {
  padding1: NaN%;
  padding2: NaN%;
  padding3: 50%;
  padding4: 30%;
  padding5: 100%;
  padding6: 100%;
  padding7: 130%;
}
#percentageVariable {
  padding1: NaN%;
  padding2: 50%;
  padding3: 30%;
  padding4: 100%;
  padding5: 100%;
}
#floor {
  padding3: 0;
  padding4: 1;
  padding5: 1%;
  padding6: 2px;
  padding7: 3;
}
#floorVariable {
  padding3: 0;
  padding4: 1%;
  padding5: 2cm;
}
#ceil {
  padding3: 1;
  padding4: 2;
  padding5: 2%;
  padding6: 3px;
  padding7: 4;
}
#ceilVariable {
  padding3: 1;
  padding4: 2%;
  padding5: 3cm;
}
#round {
  padding3: 1;
  padding4: 2;
  padding5: 2%;
  padding6: 3px;
  padding7: 3;
}
#roundVariable {
  padding3: 1;
  padding4: 2%;
  padding5: 2cm;
}
#caseInsensitivity-101 {
  padding1: 30%;
  padding1: 0;
  padding1: 1;
}
documentation {
  sqrt-cm: 5cm;
  sqrt-percentage: 4.312771730569565%;
  sqrt-zero-1: 0%;
  sqrt-zero-2: 0;
  sqrt-zero-negative: NaN;
  abs-cm: 25cm;
  abs-percentage: 18.6%;
  abs-zero-1: 0%;
  abs-zero-2: 0;
  abs-zero-negative: 25;
  sin-pi-rounded: 0;
  sin-pi-exact-rounded: 0;
  sin-percent-0: 0;
  sin-one: 0.8414709848078965;
  sin-minus-one: -0.8414709848078965;
  sin-deg-pi-rounded: 0;
  sin-deg-0: 0;
  sin-deg-one: 0.01745240643728351;
  sin-deg-minus-one: -0.01745240643728351;
  sin-grad-pi-rounded: 0;
  sin-grad-0: 0;
  sin-grad-one: 0.015707317311820675;
  sin-grad-minus-one: -0.015707317311820675;
  cos-pi-rounded: -1;
  cos-pi-exact-rounded: -1;
  cos-percent-0: 1;
  cos-one: 0.5403023058681398;
  cos-minus-one: 0.5403023058681398;
  cos-deg-pi-rounded: 1;
  cos-deg-0: 1;
  cos-deg-one: 0.9998476951563913;
  cos-deg-minus-one: 0.9998476951563913;
  cos-grad-pi-rounded: 1;
  cos-grad-0: 1;
  cos-grad-one: 0.9998766324816606;
  cos-grad-minus-one: 0.9998766324816606;
  tan-percent-0: 0;
  tan-one: 1.5574077246549023;
  tan-minus-one: -1.5574077246549023;
  tan-deg-pi-half-rounded: 0;
  tan-deg-0: 0;
  tan-deg-one: 0.017455064928217585;
  tan-deg-minus-one: -0.017455064928217585;
  tan-grad-pi-half-rounded: 0;
  tan-grad-0: 0;
  tan-grad-one: 0.015709255323664916;
  tan-grad-minus-one: -0.015709255323664916;
  asin-to-one: 1rad;
  asin-minus-one: -1rad;
  asin-zero: 0rad;
  asin-one: 1.570796rad;
  asin-minus-one: -1.570796rad;
  asin-invalid: NaNrad;
  acos-to-one: 1rad;
  acos-minus: 2.141593rad;
  acos-zero: 1.570796rad;
  acos-one: 0rad;
  acos-minus-one: 3.141593rad;
  acos-invalid: NaNrad;
  atan-to-one: 1rad;
  atan-to-minus-one: -1rad;
  atan-zero: 0rad;
  atan-one: 0.785398rad;
  atan-minus-one: -0.785398rad;
  atan-big: 1.525373rad;
  pow-zero-zero: 1cm;
  pow-negative-exponent: 0.0016;
  pow-square-root: 5;
  pow-negative-base: NaN;
  pow-negative: NaN%;
  mod-zero-zero: NaNcm;
  mod-11-6: 5cm;
  mod-negative-second: 1;
  mod-float-1: 0;
  mod-float-2: 0.1;
  mod-negative-first: -1;
  mod-negative: -1%;
  convert-escape: 9000ms;
  convert-string: -9000ms;
  convert-identifier: 9000ms;
  convert-identifier: 140mm;
  convert-incompatible: 9000ms;
  convert-unitless: 9;
  unit-escape: 9ms;
  unit-string: -9ms;
  unit-identifier: 9ms;
  unit-identifier: 14mm;
  unit-incompatible: 9ms;
  unit-unitless: 9ms;
}
#use-max {
  max-0: 3%;
  max-1: 8%;
  max-3: 1cm;
  max-4: 200mm;
  max-5: 1cm;
  max-6: 1cm;
  max-7: 8%;
  max-8: 4;
  max-9: 8;
  max-10: 8;
  max-11: 8;
  max-12: 2cm;
  max-13: 5;
  max-14: max();
  max-error-1: !#error#!;
  max-error-2: !#error#!;
}
#use-min {
  min-0: 3%;
  min-1: 3%;
  min-3: 2mm;
  min-4: 1cm;
  min-5: 2mm;
  min-6: 2mm;
  min-7: 3%;
  min-8: 1;
  min-9: 5;
  min-10: 1;
  min-11: 1;
  min-12: 1;
  min-13: 3mm;
  min-14: min();
  min-error-1: !#error#!;
  min-error-2: !#error#!;
}
#use-length {
  length: !#error#!;
  length-1: 1;
  length-2: 3;
  length-3: 1;
  length-4: 2;
  length-5: 1;
  length-6: 3;
  length-7: 2;
  length-8: 1;
}