#css-uri {
  css: url("data:text/css;base64,LmRlbW86YWZ0ZXIgeyBjb2xvcjogYmx1ZTsgY29udGVudDogJ1VudXN1YWwgd2F5IG9mIGRvaW5nIHRoaW5ncy4gRG91YmxlIHF1b3RlOiAiJzsgfQ==");
  css-1: url("data:text/css,.demo%3Aafter%20%7B%20color%3A%20blue%3B%20content%3A%20'Unusual%20way%20of%20doing%20things.%20Double%20quote%3A%20%22'%3B%20%7D");
}
#data-uri {
  uri: url("data:image/jpeg;base64,bm90IGFjdHVhbGx5IGEganBlZyBmaWxl");
  uri-fragment: url("data:image/jpeg;base64,bm90IGFjdHVhbGx5IGEganBlZyBmaWxl#fragment");
}
#data-uri-guess {
  uri: url("data:image/jpeg;base64,bm90IGFjdHVhbGx5IGEganBlZyBmaWxl");
  uri-fragment: url("data:image/jpeg;base64,bm90IGFjdHVhbGx5IGEganBlZyBmaWxl#fragment");
}
#data-uri-ascii {
  uri-1: url("data:text/html,%3Ch1%3EThis%20page%20is%20100%25%20Awesome.%3C%2Fh1%3E");
  uri-2: url("data:text/html,%3Ch1%3EThis%20page%20is%20100%25%20Awesome.%3C%2Fh1%3E");
  svg-not-base-64: url("data:image/svg+xml,%3Csvg%20height%3D%22100%22%20width%3D%22100%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2240%22%20stroke%3D%22black%22%20stroke-width%3D%221%22%20fill%3D%22blue%22%20%2F%3E%3C%2Fsvg%3E");
}
#data-uri-toobig {
  uri: url('../data/data-uri-fail.png');
}
