#built-in {
  escaped: -Some::weird(#thing, y);
  lighten: #ffcccc;
  darken: #330000;
  saturate: #203c31;
  desaturate: #29332f;
  greyscale: #2e2e2e;
  spin-p: #bf6a40;
  spin-n: #bf4055;
  format: "rgb(32, 128, 64)";
  format-string: "hello world";
  format-multiple: "hello earth 2";
  format-url-encode: "red is %23ff0000";
  eformat: rgb(32, 128, 64);
  hue: 98;
  saturation: 12%;
  lightness: 95%;
  red: 17;
  green: 34;
  blue: 51;
  alpha: 0.5;
  luma: 65%;
  mix: #800080;
  mix2: rgba(75, 25, 0, 0.75);
  contrast: #000000;
  contrast2: #ffffff;
  contrast3: #dddddd;
  contrast4: #000000;
  contrast5: #000000;
  contrast6: #000000;
  contrast7: #ffffff;
  contrast8: #ffffff;
  rounded: 11;
  roundedpx: 3px;
  percentage: 20%;
  color: #ff0011;
  color2: #aaa;
  unit: 5px;
  unit2: 15;
}
#built-in .is-a {
  color: true;
  color1: true;
  color2: true;
  keyword: true;
  number: true;
  string: true;
  pixel: true;
  percent: true;
  em: true;
}
#alpha {
  alpha: rgba(153, 94, 51, 0.6);
}
