#e {
  content1: ' \" \' " \" \';
  content2: this is something {};
  something1: 1+2;;
}
#e-NonString {
  e1: abcdefghijklmnopqrstuvxyz ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  e2: ~!@#$^&*()_+}{|:> <.,';][p/\";
  e3: \\;
  e4: //;
  e5: 11;
  e5: 33;
}
#escape {
  escape1: abcdefghijklmnopqrstuvxyz%20ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  escape2: %3B%20,%20/%20?%20%3A%20@%20&%20%3D%20+%20$%20-%20_%20.%20!%20~%20*%20'%20%28%20%29;
  escape3: ~!@%23$%5E&*%28%29_+%7D%7B%7C%3A%3E%3C.,'%3B%5D%5Bp;
  escape4: %5C%5C;
  escape5: //;
  escape6: ;
  escape7: test;
}
#escapeNonString {
  escape1: abcdefghijklmnopqrstuvxyz%20ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  escape2: %3B%20,%20/%20?%20%3A%20@%20&%20%3D%20+%20$%20-%20_%20.%20!%20~%20*%20'%20%28%20%29;
  escape3: ~!@%23$%5E&*%28%29_+%7D%7B%7C%3A%3E%3C.,'%3B%5D%5Bp;
  escape4: %5C%5C;
  escape5: //;
  escape6: undefined;
  escape6b: undefined;
  escape7: identifier;
  escape8: 11;
}
#e-escape {
  something1: 1+2%3B;
}