#e {
  content1: ' \" \' " \" \';
  content2: this is something {};
  something1: 1+2;;
}
#e-empty {
  empty-string: ;
  empty-escape: ;
}
#e-NonString {
  e1: abcdefghijklmnopqrstuvxyz ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  e2: ~!@#$^&*()_+}{|:> <.,';][p/\";
  e3: \\;
  e4: //;
  e5: 11;
  e5: 33;
}
#escape {
  escape1: abcdefghijklmnopqrstuvxyz%20ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  escape2: %3B%20,%20/%20?%20%3A%20@%20&%20%3D%20+%20$%20-%20_%20.%20!%20~%20*%20'%20%28%20%29;
  escape3: ~!@%23$%5E&*%28%29_+%7D%7B%7C%3A%3E%3C.,'%3B%5D%5Bp;
  escape4: %5C%5C;
  escape5: //;
  escape6: ;
  escape7: test;
}
#escapeNonString {
  escape1: abcdefghijklmnopqrstuvxyz%20ABCDEFGHIJKLMNOPQRSTUVXYZ09;
  escape2: %3B%20,%20/%20?%20%3A%20@%20&%20%3D%20+%20$%20-%20_%20.%20!%20~%20*%20'%20%28%20%29;
  escape3: ~!@%23$%5E&*%28%29_+%7D%7B%7C%3A%3E%3C.,'%3B%5D%5Bp;
  escape4: %5C%5C;
  escape5: //;
  escape6: undefined;
  escape6b: undefined;
  escape7: identifier;
  escape8: 11;
}
#e-escape {
  something1: 1+2%3B;
}
#format {
  format1: string1 "% s: directory/file.less";
  format2: string1 "% S: directory%2Ffile.less";
  format3: string1 "% d: "directory/file.less"";
  format4: string1 "% D: %22directory%2Ffile.less%22";
  format5: string1 "% a: "directory/file.less"";
  format6: string1 '% A: %22directory%2Ffile.less%22';
  format1: string2 "% s: directory/file.less";
  format2: string2 "% S: directory%2Ffile.less";
  format3: string2 "% d: 'directory/file.less'";
  format4: string2 "% D: 'directory%2Ffile.less'";
  format5: string2 "% a: 'directory/file.less'";
  format6: string2 '% A: 'directory%2Ffile.less'';
  format1: expression "% s: 3";
  format2: expression "% S: 3";
  format3: expression "% d: 3";
  format4: expression "% D: 3";
  format5: expression "% a: 3";
  format6: expression '% A: 3';
  format1: escape "% s: size-10%";
  format2: escape "% S: size-10%25";
  format3: escape "% d: size-10%";
  format4: escape "% D: size-10%25";
  format5: escape "% a: size-10%";
  format6: escape '% A: size-10%25';
  format1: named color "% s: green";
  format2: named color "% S: green";
  format3: named color "% d: green";
  format4: named color "% D: green";
  format5: named color "% a: green";
  format6: named color '% A: green';
  format1: hex color "% s: #ff00ff";
  format2: hex color "% S: %23ff00ff";
  format3: hex color "% d: #ff00ff";
  format4: hex color "% D: %23ff00ff";
  format5: hex color "% a: #ff00ff";
  format6: hex color '% A: %23ff00ff';
}
#format-specialCharacters {
  format1: special1 "% s: ~!@#$^&*()_+}{|:> <.,';][p/\"";
  format2: special1 "% S: ~!%40%23%24%5E%26*()_%2B%7D%7B%7C%3A%3E%20%3C.%2C'%3B%5D%5Bp%2F%5C%22";
  format3: special1 "% d: "~!@#$^&*()_+}{|:> <.,';][p/\""";
  format4: special1 "% D: %22~!%40%23%24%5E%26*()_%2B%7D%7B%7C%3A%3E%20%3C.%2C'%3B%5D%5Bp%2F%5C%22%22";
  format5: special1 "% a: "~!@#$^&*()_+}{|:> <.,';][p/\""";
  format6: special1 '% A: %22~!%40%23%24%5E%26*()_%2B%7D%7B%7C%3A%3E%20%3C.%2C'%3B%5D%5Bp%2F%5C%22%22';
  format1: special2 "% s: ; , / ? : @ & = + $ - _ . ! ~ * ' ( )";
  format2: special2 "% S: %3B%20%2C%20%2F%20%3F%20%3A%20%40%20%26%20%3D%20%2B%20%24%20-%20_%20.%20!%20~%20*%20'%20(%20)";
  format3: special2 "% d: "; , / ? : @ & = + $ - _ . ! ~ * ' ( )"";
  format4: special2 "% D: %22%3B%20%2C%20%2F%20%3F%20%3A%20%40%20%26%20%3D%20%2B%20%24%20-%20_%20.%20!%20~%20*%20'%20(%20)%22";
  format5: special2 "% a: "; , / ? : @ & = + $ - _ . ! ~ * ' ( )"";
  format6: special2 '% A: %22%3B%20%2C%20%2F%20%3F%20%3A%20%40%20%26%20%3D%20%2B%20%24%20-%20_%20.%20!%20~%20*%20'%20(%20)%22';
}
#format-a-lot-of-placeholders {
  format-exact: "1 2 3 4";
  format-missing: "1 2 %d %D";
  format-additional: "1 2 3 4";
}
#format-notString {
  format-wrong1: repetitions: 3 file: "directory/file.less";
  format-wrong2: "repetitions: %q file: %1";
}
#format-interpolated-replacement {
  format-exact: "variable:  - it worked! - ";
}
#format-list {
  format1: list1 "% d: 1 2 3 4";
  format2: list1 "% D: 1%202%203%204";
  format3: list1 "% a: 1 2 3 4";
  format4: list1 '% A: 1%202%203%204';
  format1: list2 "% d: "1 whatever" "2 whatever" "3 whatever" "4 whatever"";
  format2: list2 "% D: %221%20whatever%22%20%222%20whatever%22%20%223%20whatever%22%20%224%20whatever%22";
  format3: list2 "% a: "1 whatever" "2 whatever" "3 whatever" "4 whatever"";
  format4: list2 '% A: %221%20whatever%22%20%222%20whatever%22%20%223%20whatever%22%20%224%20whatever%22';
  format1: list3 "% d: 1 5 3 4";
  format2: list3 "% D: 1%205%203%204";
  format3: list3 "% a: 1 5 3 4";
  format4: list3 '% A: 1%205%203%204';
}
#format-list-split {
  format2: "d: "1 whatever" "2 whatever" 5";
}
replace {
  replace-identifier: foo2;
  replace-error-in-regexp: !#error#!;
}