number {
padding: +1;
padding: +12;
padding: +1123132;
}

percentage {
padding: +1%;
padding: +12%;
padding: +1123132%;
}

dimension {
padding: +1f;
padding: +12s;
padding: +1123132%ddd;
}

frequency {
padding: +hz1;
padding: +12khz;
padding: +1123132hz;
}

time {
padding: +1s;
padding: +12ms;
padding: +1123132s;
}

angle {
padding: +1grad;
padding: +12deg;
padding: +1123132rad;
}

em {
padding: +1em;
padding: +12em;
padding: +1123132em;
}

ex {
padding: +1ex;
padding: +12ex;
padding: +1123132ex;
}

length {
padding: +1in;
padding: +12pt;
padding: +1123132pc;
}
