@page {
  @bottom-center {
    margin-left: 3cm;
    h1 {
       bla: bla;
       :hover {
         padding: 2;
       }
    }
  }

  h2 {
     color: red;
     :visit {
       margin: 2;
     }
  }
}
