.does-not-exists {
  !#error#!
}
.wrong-datatype {
  !#error#!
}
.selector {
  interpolation: "!#error#!";
}
.selector {
  !#error#!
}
.do-not-return-variables .caller {
  color: !#error#!;
}
.variable-references-chain .usePlace {
  scope-detached: visible !#error#! !#error#! visible;
}