#basic-case .default-mixin-argument {
  default: default;
}
#basic-case .custom-mixin-argument {
  custom: custom;
}
#sees-caller-scope .default-mixin-argument {
  from-default: sees;
}
#sees-caller-scope .custom-mixin-argument {
  from-custom: sees;
}