@media (max-width: 767px) {
  .class3 {
    color: red;
  }
}
@supports (display: flex) {
  .class3 {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .class3 {
    media: merging;
  }
}
.class3 {
  background-color: blue;
}
