.large .error,
.large .badError {
  font-size: 200%;
}
.box,
.important,
.success {
  margin: 0 auto 25px;
  border: 1px solid;
  padding: 15px;
  border-radius: 6px;
}
.important,
.success {
  background: #ffe5e5;
  border-color: red;
}
.header .header-nav,
.footer .footer-nav {
  background: red;
}
.header .header-nav:before,
.footer .footer-nav:before {
  background: blue;
}