@media print {
  .print,
  .printExtending,
  .outsideExtending {
    declaration: value;
  }
}
@media print and (min-width: 120px) {
  .tablet,
  .tabletExtending,
  .outsideExtending {
    declaration: value;
  }
}
@media screen {
  .screen,
  .screenExtending,
  .outsideExtending {
    declaration: value;
  }
}
.outside,
.outsideExtending {
  declaration: value;
}
