h1,
.a,
.b,
.c,
.d + e,
f,
.outer {
  border: 1px solid blue;
}
h2,
.outer .inner,
.otherextend1,
.outer1 .inner1 {
  border: 1px solid blue;
}
h3,
.otherextend2,
.outer1 .inner1 {
  border: 1px solid blue;
}
.a {
  color: black;
}
.b {
  color: black;
}
.c,
.d + e,
f {
  color: black;
}
