// https://github.com/cloudhead/less.js/pull/643
@tablet: ~"screen and (max-width: 100px)";
@media @tablet { 
  h3 {
    declaration: value;
  }
}

@singleQuery: ~"(max-width: 500px)";
@media screen, @singleQuery {
  set {
    padding: 3 3 3 3;
  }
}

/* partial are not allowed
@partial: ~"(max-width: 600px)";
@media screen and @partial {
  set {
    padding: 3 3 3 3;
  }
}
*/
//TODO combine it with merging and bubbling !!!!