#tryZero {
  catch: all;
}
#tryMinusZero {
  catch: all;
}
#tryNegatedNumber {
  catch: all;
}
#tryNumber {
  catch: all;
}
#tryNumberPx {
  catch: all;
}
#tryNumberMinuxPx {
  catch: all;
}
#tryString1 {
  catch: all;
  declare: 'value';
}
#tryString2 {
  catch: all;
  declare: "value";
}
#tryIdentifier {
  catch: all;
}
#tryNegativeIdentifier {
  catch: all;
}
#tryColor1 {
  catch: all;
  declare: red;
  declare: #ff0000;
}
#tryColor2 {
  catch: all;
  declare: red;
  declare: #ff0000;
}