#allAreUsedHere {
  declaration: mixinNoParam 'the Parameter' 'top used' 'top level';
  last: last 'the Parameter' 'top used';
  this-will-survive-too: funny 'nested 1' 'inside';
  declaration: nestedMixin 'nested 1' 'inside';
  declaration: redefined 'nested 1' 'inside';
  this-will-survive-too: funny 'nested 2' 'inside';
  declaration: nestedMixin 'nested 2' 'inside';
  declaration: nestedMixinScoped 'inside call' 'inside';
  declaration: redefined 'nested 2' 'inside';
}
