.foo {
  property: value;
}
.foo.bar,
.foo.baz {
  property: value;
}
.foo.baz {
  property: value;
}
.class,
.other,
.extension {
  property: value;
}
.class .class,
.class .other,
.class .extension,
.extension .class,
.extension .other,
.extension .extension {
  property: value;
}