// FAILS - OPEN in less.js https://github.com/less/less.js/issues/1554.foo {
    property: value;

    &.bar {
        property: value;
    }

    &.baz {
        &:extend(&.bar);
        property: value;
    }

}
// FAILS - https://github.com/less/less.js/issues/1227
.button {
  color: black;
  &:hover {
    color: white;
  }
}
.submit {
   &:extend(.button);
   &:hover:extend(.button:hover) {}
}

// FAILS - OPEN in less.js https://github.com/less/less.js/issues/1487
.class, .other { property: value }
.class {
    .class, .other { property: value }
}
.extension { &:extend(.class all); }