element1:before1 nameelement1:before1:hoverelement1:before1,
element1:before1 nameelement1:before1:hoverelement2:before2,
element1:before1 nameelement2:before2:hoverelement1:before1,
element1:before1 nameelement2:before2:hoverelement2:before2,
element2:before2 nameelement1:before1:hoverelement1:before1,
element2:before2 nameelement1:before1:hoverelement2:before2,
element2:before2 nameelement2:before2:hoverelement1:before1,
element2:before2 nameelement2:before2:hoverelement2:before2,
element1:before1h2 element1:before1,
element1:before1h2 element2:before2,
element2:before2h2 element1:before1,
element2:before2h2 element2:before2,
element1:before1 element1:before1,
element1:before1 element2:before2,
element2:before2 element1:before1,
element2:before2 element2:before2,
element1:before1element1:before1,
element1:before1element2:before2,
element2:before2element1:before1,
element2:before2element2:before2,
element1:before1 + element1:before1,
element1:before1 + element2:before2,
element2:before2 + element1:before1,
element2:before2 + element2:before2,
element1:before1,
element2:before2 {
  declaration: 1 2;
}
