:before1,
:before2 {
  declaration: value;
}
:before1:nested1 :before1,
:before1:nested1 :before2,
:before2:nested1 :before1,
:before2:nested1 :before2,
:before1 :nested2:before1,
:before1 :nested2:before2,
:before2 :nested2:before1,
:before2 :nested2:before2 {
  declaration: 1 2;
}
:before1:nested1 :before1 :nested3:before1:nested1 :before1,
:before1:nested1 :before1 :nested3:before1:nested1 :before2,
:before1:nested1 :before1 :nested3:before2:nested1 :before1,
:before1:nested1 :before1 :nested3:before2:nested1 :before2,
:before1:nested1 :before1 :nested3:before1 :nested2:before1,
:before1:nested1 :before1 :nested3:before1 :nested2:before2,
:before1:nested1 :before1 :nested3:before2 :nested2:before1,
:before1:nested1 :before1 :nested3:before2 :nested2:before2,
:before1:nested1 :before2 :nested3:before1:nested1 :before1,
:before1:nested1 :before2 :nested3:before1:nested1 :before2,
:before1:nested1 :before2 :nested3:before2:nested1 :before1,
:before1:nested1 :before2 :nested3:before2:nested1 :before2,
:before1:nested1 :before2 :nested3:before1 :nested2:before1,
:before1:nested1 :before2 :nested3:before1 :nested2:before2,
:before1:nested1 :before2 :nested3:before2 :nested2:before1,
:before1:nested1 :before2 :nested3:before2 :nested2:before2,
:before2:nested1 :before1 :nested3:before1:nested1 :before1,
:before2:nested1 :before1 :nested3:before1:nested1 :before2,
:before2:nested1 :before1 :nested3:before2:nested1 :before1,
:before2:nested1 :before1 :nested3:before2:nested1 :before2,
:before2:nested1 :before1 :nested3:before1 :nested2:before1,
:before2:nested1 :before1 :nested3:before1 :nested2:before2,
:before2:nested1 :before1 :nested3:before2 :nested2:before1,
:before2:nested1 :before1 :nested3:before2 :nested2:before2,
:before2:nested1 :before2 :nested3:before1:nested1 :before1,
:before2:nested1 :before2 :nested3:before1:nested1 :before2,
:before2:nested1 :before2 :nested3:before2:nested1 :before1,
:before2:nested1 :before2 :nested3:before2:nested1 :before2,
:before2:nested1 :before2 :nested3:before1 :nested2:before1,
:before2:nested1 :before2 :nested3:before1 :nested2:before2,
:before2:nested1 :before2 :nested3:before2 :nested2:before1,
:before2:nested1 :before2 :nested3:before2 :nested2:before2,
:before1 :nested2:before1 :nested3:before1:nested1 :before1,
:before1 :nested2:before1 :nested3:before1:nested1 :before2,
:before1 :nested2:before1 :nested3:before2:nested1 :before1,
:before1 :nested2:before1 :nested3:before2:nested1 :before2,
:before1 :nested2:before1 :nested3:before1 :nested2:before1,
:before1 :nested2:before1 :nested3:before1 :nested2:before2,
:before1 :nested2:before1 :nested3:before2 :nested2:before1,
:before1 :nested2:before1 :nested3:before2 :nested2:before2,
:before1 :nested2:before2 :nested3:before1:nested1 :before1,
:before1 :nested2:before2 :nested3:before1:nested1 :before2,
:before1 :nested2:before2 :nested3:before2:nested1 :before1,
:before1 :nested2:before2 :nested3:before2:nested1 :before2,
:before1 :nested2:before2 :nested3:before1 :nested2:before1,
:before1 :nested2:before2 :nested3:before1 :nested2:before2,
:before1 :nested2:before2 :nested3:before2 :nested2:before1,
:before1 :nested2:before2 :nested3:before2 :nested2:before2,
:before2 :nested2:before1 :nested3:before1:nested1 :before1,
:before2 :nested2:before1 :nested3:before1:nested1 :before2,
:before2 :nested2:before1 :nested3:before2:nested1 :before1,
:before2 :nested2:before1 :nested3:before2:nested1 :before2,
:before2 :nested2:before1 :nested3:before1 :nested2:before1,
:before2 :nested2:before1 :nested3:before1 :nested2:before2,
:before2 :nested2:before1 :nested3:before2 :nested2:before1,
:before2 :nested2:before1 :nested3:before2 :nested2:before2,
:before2 :nested2:before2 :nested3:before1:nested1 :before1,
:before2 :nested2:before2 :nested3:before1:nested1 :before2,
:before2 :nested2:before2 :nested3:before2:nested1 :before1,
:before2 :nested2:before2 :nested3:before2:nested1 :before2,
:before2 :nested2:before2 :nested3:before1 :nested2:before1,
:before2 :nested2:before2 :nested3:before1 :nested2:before2,
:before2 :nested2:before2 :nested3:before2 :nested2:before1,
:before2 :nested2:before2 :nested3:before2 :nested2:before2,
:before1:nested1 :before1:nested4 :before1:nested1 :before1,
:before1:nested1 :before1:nested4 :before1:nested1 :before2,
:before1:nested1 :before1:nested4 :before2:nested1 :before1,
:before1:nested1 :before1:nested4 :before2:nested1 :before2,
:before1:nested1 :before1:nested4 :before1 :nested2:before1,
:before1:nested1 :before1:nested4 :before1 :nested2:before2,
:before1:nested1 :before1:nested4 :before2 :nested2:before1,
:before1:nested1 :before1:nested4 :before2 :nested2:before2,
:before1:nested1 :before2:nested4 :before1:nested1 :before1,
:before1:nested1 :before2:nested4 :before1:nested1 :before2,
:before1:nested1 :before2:nested4 :before2:nested1 :before1,
:before1:nested1 :before2:nested4 :before2:nested1 :before2,
:before1:nested1 :before2:nested4 :before1 :nested2:before1,
:before1:nested1 :before2:nested4 :before1 :nested2:before2,
:before1:nested1 :before2:nested4 :before2 :nested2:before1,
:before1:nested1 :before2:nested4 :before2 :nested2:before2,
:before2:nested1 :before1:nested4 :before1:nested1 :before1,
:before2:nested1 :before1:nested4 :before1:nested1 :before2,
:before2:nested1 :before1:nested4 :before2:nested1 :before1,
:before2:nested1 :before1:nested4 :before2:nested1 :before2,
:before2:nested1 :before1:nested4 :before1 :nested2:before1,
:before2:nested1 :before1:nested4 :before1 :nested2:before2,
:before2:nested1 :before1:nested4 :before2 :nested2:before1,
:before2:nested1 :before1:nested4 :before2 :nested2:before2,
:before2:nested1 :before2:nested4 :before1:nested1 :before1,
:before2:nested1 :before2:nested4 :before1:nested1 :before2,
:before2:nested1 :before2:nested4 :before2:nested1 :before1,
:before2:nested1 :before2:nested4 :before2:nested1 :before2,
:before2:nested1 :before2:nested4 :before1 :nested2:before1,
:before2:nested1 :before2:nested4 :before1 :nested2:before2,
:before2:nested1 :before2:nested4 :before2 :nested2:before1,
:before2:nested1 :before2:nested4 :before2 :nested2:before2,
:before1 :nested2:before1:nested4 :before1:nested1 :before1,
:before1 :nested2:before1:nested4 :before1:nested1 :before2,
:before1 :nested2:before1:nested4 :before2:nested1 :before1,
:before1 :nested2:before1:nested4 :before2:nested1 :before2,
:before1 :nested2:before1:nested4 :before1 :nested2:before1,
:before1 :nested2:before1:nested4 :before1 :nested2:before2,
:before1 :nested2:before1:nested4 :before2 :nested2:before1,
:before1 :nested2:before1:nested4 :before2 :nested2:before2,
:before1 :nested2:before2:nested4 :before1:nested1 :before1,
:before1 :nested2:before2:nested4 :before1:nested1 :before2,
:before1 :nested2:before2:nested4 :before2:nested1 :before1,
:before1 :nested2:before2:nested4 :before2:nested1 :before2,
:before1 :nested2:before2:nested4 :before1 :nested2:before1,
:before1 :nested2:before2:nested4 :before1 :nested2:before2,
:before1 :nested2:before2:nested4 :before2 :nested2:before1,
:before1 :nested2:before2:nested4 :before2 :nested2:before2,
:before2 :nested2:before1:nested4 :before1:nested1 :before1,
:before2 :nested2:before1:nested4 :before1:nested1 :before2,
:before2 :nested2:before1:nested4 :before2:nested1 :before1,
:before2 :nested2:before1:nested4 :before2:nested1 :before2,
:before2 :nested2:before1:nested4 :before1 :nested2:before1,
:before2 :nested2:before1:nested4 :before1 :nested2:before2,
:before2 :nested2:before1:nested4 :before2 :nested2:before1,
:before2 :nested2:before1:nested4 :before2 :nested2:before2,
:before2 :nested2:before2:nested4 :before1:nested1 :before1,
:before2 :nested2:before2:nested4 :before1:nested1 :before2,
:before2 :nested2:before2:nested4 :before2:nested1 :before1,
:before2 :nested2:before2:nested4 :before2:nested1 :before2,
:before2 :nested2:before2:nested4 :before1 :nested2:before1,
:before2 :nested2:before2:nested4 :before1 :nested2:before2,
:before2 :nested2:before2:nested4 :before2 :nested2:before1,
:before2 :nested2:before2:nested4 :before2 :nested2:before2 {
  declaration: 3 4;
}
