before1,
before2 {
  declaration: value;
}
before1:nested1,
before2:nested1,
before1 :nested2,
before2 :nested2 {
  declaration: value;
}
before1 :nested3,
before2 :nested3,
before1:nested4,
before2:nested4 {
  declaration: value;
}
before1,
before2 {
  declaration: value;
}
before1 :nested1,
before2 :nested1,
before1:nested2,
before2:nested2 {
  declaration: value;
}
before1 nested3,
before2 nested3,
before1 nested4,
before2 nested4 {
  declaration: value;
}
before1,
before2 {
  declaration: value;
}
before1:nested1,
before2:nested1,
before1 :nested2,
before2 :nested2 {
  declaration: value;
}
before1 nested3,
before2 nested3,
before1 nested4,
before2 nested4 {
  declaration: value;
}
.abc > .def.selector {
  property: value;
}
.abc > .def .selector {
  property: value;
}
.abc + .selector {
  property: value;
}