before1, before2 {
  declaration: value;
  &:nested1, & :nested2 {
    declaration: value;
  }
  & :nested3, &:nested4 {
    declaration: value;
  }
}

before1, before2 {
  declaration: value;
  :nested1, &:nested2 {
    declaration: value;
  }
  nested3, & nested4 {
    declaration: value;
  }
}

before1, before2 {
  declaration: value;
  &:nested1, :nested2 {
    declaration: value;
  }
  & nested3, nested4 {
    declaration: value;
  }
}