first, second {
  declaration: value;
  nested1, nested2 {
    declaration: value;
  }
  nested3, nested4 {
    declaration: value;
  }
}

first, second {
  declaration: value;
  nested1, nested2 {
    declaration: value;
    deep1, deep2 {
      declaration: 1 2;
    }
    deep3, deep4 {
      declaration: 3 4;
    }
  }
}
