.foo() {
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    @supports not (-webkit-font-smoothing: subpixel-antialiased) {
        font-weight: 400;
    }
}

html {
    .foo;
}