#percentage {
  padding1: percentage(something); 
  padding2: percentage("invalid"); 
}
#floor {
  padding1: floor(something);
  padding2: floor("0.5");
}
#ceil {
  padding1: ceil(something);
  padding2: ceil("0.5");
}
#round {
  padding1: round(something);
  padding2: round("0.5");
}
#compiledThis {
  yes: "it did";
}
