(~"h1") {
  margin: 1 ~"2 2" 3;
  padding: ~'2 2';
}

(~"h1"), h2, (~'h3') {
  margin: 2;
}

@variable: "span";
(~".@{variable}") { 
  text: ~'@{variable}';
}

@escapedVariable: ~"whatever";
(~".@{escapedVariable}") { 
  text: ~'@{escapedVariable}';
}

.call-me () {
  @a: '.something';
  (~'@{a}') {
    margin: 2 2 2 2;
  }
}

#nested {
  .call-me ();
}