.blood {
  color: red;
}
.bloodblood {
  color: red;
}
.bloodred {
  color: green;
}
red.blood {
  color: green;
}
re.bloodd {
  color: green;
}
.bloodbloodred {
  color: green;
}
red.bloodblood {
  color: green;
}
re.bloodbloodd {
  color: green;
}
#.bloodred {
  color: green;
}
#red.blood {
  color: green;
}
#re.bloodd {
  color: green;
}
#.bloodbloodred {
  color: green;
}
#red.bloodblood {
  color: green;
}
#re.bloodbloodd {
  color: green;
}
..bloodred {
  color: green;
}
.red.blood {
  color: green;
}
.re.bloodd {
  color: green;
}
..bloodbloodred {
  color: green;
}
.red.bloodblood {
  color: green;
}
.re.bloodbloodd {
  color: green;
}
#blood.blood.red.black {
  color: black;
}
pre .java {
  padding: 2 2 2 2;
}
:nth-child(3):nth-child(3) {
  second-use: depreciated;
}
.variable-1 {
  padding: 2 2 2 2;
}
1-.variable-1 {
  padding: 2 2 2 2;
}
1-variable-1 {
  padding: 2 2 2 2;
}
variable* variable,
variable *variable {
  padding: 2 2 2 2;
}
variable namevariable:hover,
variableh2 variable,
variable variable,
variablevariable,
variable + variable variable + variable,
variable {
  declaration: 1 2;
}
h1 variable:not(.class) {
  padding: 2 2 2 2;
}
h2:variable {
  padding: 2 2 2 2;
}
h2:variable {
  padding: 2 2 2 2;
}
Numbers 15 -15 7% 7px {
  margin: 2 2 2 2;
}
Math 49 function(34) 5 {
  margin: 2 2 2 2;
}
Strings 'string' "string" {
  margin: 2 2 2 2;
}
Color #ff00ff #008000 {
  margin: 2 2 2 2;
}
Various identifier variable {
  margin: 2 2 2 2;
}
blood.bloodblood {
  color: red;
}
blood .blood blood {
  color: blue;
}
