// https://github.com/cloudhead/less.js/issues/1229#issuecomment-15001726
@grid_col_class: col-;
[class*="@{grid_col_class}"] {
    margin: 2 2 2 2;
}
// following is NOT less.js compatible
@string-variable: "some-class";
[class*=@string-variable] {
    margin: 2 2 2 2;
}
@number: 2+3;
[size=@number] {
    margin: 2 2 2 2;
}
