.variable-1 {
  padding: 2 2 2 2;
}
1-.variable-1 {
  padding: 2 2 2 2;
}
1-variable-1 {
  padding: 2 2 2 2;
}
variable* variable,
variable *variable {
  padding: 2 2 2 2;
}
variable namevariable:hovervariable,
variableh2 variable,
variable variable,
variablevariable,
variable + variable variable + variable,
variable {
  declaration: 1 2;
}
h1 variable:not(.class) {
  padding: 2 2 2 2;
}
h2:variable {
  padding: 2 2 2 2;
}
h2:variable {
  padding: 2 2 2 2;
}
Strings "string" 'string' {
  margin: 2 2 2 2;
}
Colors #567896 #008000 {
  margin: 2 2 2 2;
}
Numbers 15 -15 7% 7px {
  margin: 2 2 2 2;
}
Math 49 function(34) 5 {
  margin: 2 2 2 2;
}
Various identifier variable {
  margin: 2 2 2 2;
}