#ns {
   @size: 10px;
  .square() {
    width: @size;
    height: @size;
  }
  .box() {
    .square();
  }
}

#mybox {
  #ns > .box();
}
// *******************************************8
#space {
 .mixin() { color: red; }
 .test() { .mixin(); }
}
.mixin() { content: "conflict"; }
#abc { #space > .test(); }
